name of dataset: Global Country Information Dataset 2023
    source: Kaggle
        url:https://www.kaggle.com/datasets/nelgiriyewithana/countries-of-the-world-2023

In [ ]:
pip install seaborn

Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (0.13.1)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /usr/local/lib/python3.10/dist-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in /usr/local/lib/python3.10/dist-packages (from seaborn) (2.1.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /usr/local/lib/python3.10/dist-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.53.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import re
import plotly.express as px
from google.colab import drive

drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [ ]:
data = pd.read_csv('/content/gdrive/MyDrive/colab share folder/world-data-2023.csv')

#problem statement:  <br>
With finite global resources for financial aid and development assistance, it is crucial to diagnose and identify the countries most in need of such aid in an objective manner. This will allow equitable allocation of aid flows to maximize impact and uplift the world's most distressed economies.

This report aims to conduct a rigorous, data-driven analysis across numerous socio-economic indicators to determine the key factors that characterize developing countries in need of assistance. Identifying these multivariate linkages can help build an index or model to rank countries based on need and necessity.

The goal is to analyze these multivariate relationships and country-level data in a granular, disaggregated manner. This will help reveal nuanced, contextual insights into the biggest problem areas for each country. The report aims to develop an evidence-based, statistically robust framework to objectively determine the countries and sectors most in need of foreign aid and philanthropic grants.

It will provide specific, targeted recommendations for organizations to allocate aid and design interventions tailored to addressing the key socio-economic challenges facing distressed nations. Overall, the aim is optimal utilization of aid flows for maximum humanitarian impact and uplifting of living standards in the developing world.

# Primary research question:<br>
Primary research question:
What are the key socio-economic characteristics and challenges facing developing countries, and how can they be addressed through targeted aid and interventions?

(*)Please refer to the end of the univariate analysis for updated reserach questions and hypotheses.

#Hypotheses:

1. Some of the main charicterisitcs of third world countries are:
*  Relatively High Infant mortality and maternal mortality
*  Relatively low life expectancy
*  Relatively high fertility rate
*  Relatively high tertiary education enrollment rate and relatively low primary education enrollment rate.
2. Infant mortality and Maternal mortality are negatively related to physicans per thousands ratio.
3. Life expectancy is negatively related to unemployment rate.
4. Education enrollment rate can be made by improving the GDP per capita.
5. Most of the countries that need help are located in Africa / war zones.

#Data Exploration:

In [ ]:
data.head(10)

,Country,Density (P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887
5,Antigua and Barbuda,223,AG,20.50%,443,0,15.33,1.0,"St. John's, Saint John",557,...,24.30%,2.76,"97,118",NaN,16.50%,43.00%,NaN,"23,800",17.060816,-61.796428
6,Argentina,17,AR,54.30%,"2,780,400","105,000",17.02,54.0,Buenos Aires,"201,348",...,17.60%,3.96,"44,938,712",61.30%,10.10%,106.30%,9.79%,"41,339,571",-38.416097,-63.616672
7,Armenia,104,AM,58.90%,"29,743","49,000",13.99,374.0,Yerevan,"5,156",...,81.60%,4.40,"2,957,731",55.60%,20.90%,22.60%,16.99%,"1,869,848",40.069099,45.038189
8,Australia,3,AU,48.20%,"7,741,220","58,000",12.60,61.0,Canberra,"375,908",...,19.60%,3.68,"25,766,605",65.50%,23.00%,47.40%,5.27%,"21,844,756",-25.274398,133.775136
9,Austria,109,AT,32.40%,"83,871","21,000",9.70,43.0,Vienna,"61,448",...,17.90%,5.17,"8,877,067",60.70%,25.40%,51.40%,4.67%,"5,194,416",47.516231,14.550072

In [ ]:
data.tail(10)

,Country,Density (P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
185,United Kingdom,281,GB,71.70%,"243,610","148,000",11.00,44.0,London,"379,025",...,14.80%,2.81,"66,834,405",62.80%,25.50%,30.60%,3.85%,"55,908,316",55.378051,-3.435973
186,United States,36,US,44.40%,"9,833,517","1,359,000",11.60,1.0,"Washington, D.C.","5,006,302",...,11.10%,2.61,"328,239,523",62.00%,9.60%,36.60%,14.70%,"270,663,028",37.090240,-95.712891
187,Uruguay,20,UY,82.60%,"176,215","22,000",13.86,598.0,Montevideo,"6,766",...,16.20%,5.05,"3,461,734",64.00%,20.10%,41.80%,8.73%,"3,303,394",-32.522779,-55.765835
188,Uzbekistan,79,UZ,62.90%,"447,400","68,000",23.30,998.0,Tashkent,"91,811",...,42.70%,2.37,"33,580,650",65.10%,14.80%,31.60%,5.92%,"16,935,729",41.377491,64.585262
189,Vanuatu,25,VU,15.30%,"12,189",NaN,29.60,678.0,Port Vila,147,...,8.90%,0.17,"299,882",69.90%,17.80%,8.50%,4.39%,"76,152",-15.376706,166.959158
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175",...,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",6.423750,-66.589730
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",...,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",...,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",...,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",...,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",-19.015438,29.154857

In [ ]:
data.describe()

,Birth Rate,Calling Code,Fertility Rate,Infant mortality,Life expectancy,Maternal mortality ratio,Physicians per thousand,Latitude,Longitude
count,189.000000,194.000000,188.000000,189.000000,187.000000,181.000000,188.000000,194.000000,194.000000
mean,20.214974,360.546392,2.698138,21.332804,72.279679,160.392265,1.839840,19.092351,20.232434
std,9.945774,323.236419,1.282267,19.548058,7.483661,233.502024,1.684261,23.961779,66.716110
min,5.900000,1.000000,0.980000,1.400000,52.800000,2.000000,0.010000,-40.900557,-175.198242
25%,11.300000,82.500000,1.705000,6.000000,67.000000,13.000000,0.332500,4.544175,-7.941496
50%,17.950000,255.500000,2.245000,14.000000,73.200000,53.000000,1.460000,17.273849,20.972652
75%,28.750000,506.750000,3.597500,32.700000,77.500000,186.000000,2.935000,40.124603,48.281523
max,46.080000,1876.000000,6.910000,84.500000,85.400000,1150.000000,8.420000,64.963051,178.065032

dataset dtypes:

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 35 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Country                                    195 non-null    object
 1   Density (P/Km2)                            195 non-null    object
 2   Abbreviation                               188 non-null    object
 3   Agricultural Land( %)                      188 non-null    object
 4   Land Area(Km2)                             194 non-null    object
 5   Armed Forces size                          171 non-null    object
 6   Birth Rate                                 189 non-null    float64
 7   Calling Code                               194 non-null    float64
 8   Capital/Major City                         192 non-null    object
 9   Co2-Emissions                              188 non-null    object
 10  CPI                                        178 non-null    object
 11  CPI Change (%)                             179 non-null    object
 12  Currency-Code                              180 non-null    object
 13  Fertility Rate                             188 non-null    float64
 14  Forested Area (%)                          188 non-null    object
 15  Gasoline Price                             175 non-null    object
 16  GDP                                        193 non-null    object
 17  Gross primary education enrollment (%)     188 non-null    object
 18  Gross tertiary education enrollment (%)    183 non-null    object
 19  Infant mortality                           189 non-null    float64
 20  Largest city                               189 non-null    object
 21  Life expectancy                            187 non-null    float64
 22  Maternal mortality ratio                   181 non-null    float64
 23  Minimum wage                               150 non-null    object
 24  Official language                          190 non-null    object
 25  Out of pocket health expenditure           188 non-null    object
 26  Physicians per thousand                    188 non-null    float64
 27  Population                                 194 non-null    object
 28  Population: Labor force participation (%)  176 non-null    object
 29  Tax revenue (%)                            169 non-null    object
 30  Total tax rate                             183 non-null    object
 31  Unemployment rate                          176 non-null    object
 32  Urban_population                           190 non-null    object
 33  Latitude                                   194 non-null    float64
 34  Longitude                                  194 non-null    float64
dtypes: float64(9), object(26)
memory usage: 53.4+ KB

how many rows the dataset has:

In [ ]:
data.shape[0]

195

The file contains data on countries with the following fields:

Country: String
Density (P/Km2): Number
Abbreviation: String
Agricultural Land (%): Number
Land Area (Km2): Number
Armed Forces size: Number
Birth Rate: Number
Calling Code: Number
Capital/Major City: String
CO2-Emissions: Number
CPI: Number
CPI Change (%): Number
Currency-Code: String
Fertility Rate: Number
Forested Area (%): Number
Gasoline Price: Number
GDP: String
Gross primary education enrollment (%): Number
Gross tertiary education enrollment (%): Number
Infant mortality: Number
Largest city: String
Life expectancy: Number
Maternal mortality ratio: Number
Minimum wage: Number
Official language: String
Out of pocket health expenditure: Number
Physicians per thousand: Number
Population: Number
Population: Labor force participation (%): Number
Tax revenue (%): Number
Total tax rate: Number
Unemployment rate: Number
Urban_population: Number
Latitude: Number
Longitude: Number
The file contains 194 rows, one for each country.

Data cleaning:

Remove unrelevant columns:<br>
* Capital city, Official language, Abbreviation, Currency Code, Calling code - aren't relevant for analysis.
*   Largest city population - Size of largest city is not a key indicator for our research purposes.
*   Armed forces personnel - Military size doesn't determine aid requirements.
*   Gasoline prices - Fuel prices in different countries depend on many factors which aren't necessarily relevant to the developement status of the country.
* Foersted area (%), Latitude, Longitude- don't indicate anything about a country's developement status.

In [ ]:
remove_cols = [ 'Currency-Code', 'Capital/Major City',
               'Official language', 'Abbreviation',
               'Largest city', 'Armed Forces size','Gasoline Price',
               'Calling Code','Forested Area (%)',"Latitude","Longitude"]

data.drop(columns=remove_cols, inplace=True)
print(data.columns)

Index(['Country', 'Density (P/Km2)', 'Agricultural Land( %)', 'Land Area(Km2)',
       'Birth Rate', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Fertility Rate', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Life expectancy', 'Maternal mortality ratio', 'Minimum wage',
       'Out of pocket health expenditure', 'Physicians per thousand',
       'Population', 'Population: Labor force participation (%)',
       'Tax revenue (%)', 'Total tax rate', 'Unemployment rate',
       'Urban_population'],
      dtype='object')

converting data to float

In [ ]:
print(data['CPI'])

0         149.9
1        119.05
2        151.36
3           NaN
4        261.73
         ...
190    2,740.27
191      163.52
192      157.58
193      212.31
194      105.51
Name: CPI, Length: 195, dtype: object

In [ ]:

for col in data.columns[1:]:
    #if data[col].dtype == 'object':  # Check if column type is 'object' (string)
        for i, val in enumerate(data[col]):
            val=str(val).strip()
            if re.fullmatch(r'-?\$?[\d,.]+%?\$?\s*$', str(val)):
                val = str(val).replace(',', '')
                if '%' in val:
                    data.at[i, col] = float(val.replace('%', '')) / 100
                elif '$' in val:
                    data.at[i, col] = float(val.replace('$', ''))
                else:
                    data.at[i, col] = float(val)
        data[col]=data[col].astype(float)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 24 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Country                                    195 non-null    object
 1   Density (P/Km2)                            195 non-null    float64
 2   Agricultural Land( %)                      188 non-null    float64
 3   Land Area(Km2)                             194 non-null    float64
 4   Birth Rate                                 189 non-null    float64
 5   Co2-Emissions                              188 non-null    float64
 6   CPI                                        178 non-null    float64
 7   CPI Change (%)                             179 non-null    float64
 8   Fertility Rate                             188 non-null    float64
 9   GDP                                        193 non-null    float64
 10  Gross primary education enrollment (%)     188 non-null    float64
 11  Gross tertiary education enrollment (%)    183 non-null    float64
 12  Infant mortality                           189 non-null    float64
 13  Life expectancy                            187 non-null    float64
 14  Maternal mortality ratio                   181 non-null    float64
 15  Minimum wage                               150 non-null    float64
 16  Out of pocket health expenditure           188 non-null    float64
 17  Physicians per thousand                    188 non-null    float64
 18  Population                                 194 non-null    float64
 19  Population: Labor force participation (%)  176 non-null    float64
 20  Tax revenue (%)                            169 non-null    float64
 21  Total tax rate                             183 non-null    float64
 22  Unemployment rate                          176 non-null    float64
 23  Urban_population                           190 non-null    float64
dtypes: float64(23), object(1)
memory usage: 36.7+ KB

In [ ]:
print(data['CPI'])

0       149.90
1       119.05
2       151.36
3          NaN
4       261.73
        ...
190    2740.27
191     163.52
192     157.58
193     212.31
194     105.51
Name: CPI, Length: 195, dtype: float64

cheacking for missing data:

droping countries that dont have at list 20 none nan values

In [ ]:
data=data.dropna(thresh=20)

In [ ]:
data.isna().any()

Country                                      False
Density (P/Km2)                              False
Agricultural Land( %)                        False
Land Area(Km2)                               False
Birth Rate                                   False
Co2-Emissions                                False
CPI                                           True
CPI Change (%)                                True
Fertility Rate                               False
GDP                                          False
Gross primary education enrollment (%)        True
Gross tertiary education enrollment (%)       True
Infant mortality                             False
Life expectancy                              False
Maternal mortality ratio                      True
Minimum wage                                  True
Out of pocket health expenditure             False
Physicians per thousand                      False
Population                                   False
Population: Labor force participation (%)     True
Tax revenue (%)                               True
Total tax rate                                True
Unemployment rate                             True
Urban_population                             False
dtype: bool

In [ ]:
data.isna().any().sum()

10

In [ ]:
nan_df = data.isna()
has_nan = nan_df.any(axis=1)
result = data[has_nan]
result

,Country,Density (P/Km2),Agricultural Land( %),Land Area(Km2),Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,GDP,...,Maternal mortality ratio,Minimum wage,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population
5,Antigua and Barbuda,223.0,0.205,443.0,15.33,557.0,113.81,0.012,1.99,1.727759e+09,...,42.0,3.04,0.243,2.76,97118.0,NaN,0.165,0.430,NaN,23800.0
9,Austria,109.0,0.324,83871.0,9.70,61448.0,118.06,0.015,1.47,4.463147e+11,...,5.0,NaN,0.179,5.17,8877067.0,0.607,0.254,0.514,0.0467,5194416.0
12,Bahrain,2239.0,0.111,765.0,13.99,31694.0,117.59,0.021,1.99,3.857407e+10,...,14.0,NaN,0.251,0.93,1501635.0,0.734,0.042,0.138,0.0071,1467109.0
15,Belarus,47.0,0.420,207600.0,9.90,58280.0,NaN,0.056,1.45,6.308046e+10,...,2.0,1.49,0.345,5.19,9466856.0,0.641,0.147,0.533,0.0459,7482982.0
20,Bolivia,11.0,0.348,1098581.0,21.75,21606.0,148.32,0.018,2.73,4.089532e+10,...,155.0,1.36,0.259,1.59,11513100.0,0.718,0.170,0.837,0.0350,8033035.0
21,Bosnia and Herzegovina,64.0,0.431,51197.0,8.11,21848.0,104.90,0.006,1.27,2.004785e+10,...,10.0,1.04,0.286,2.16,3301000.0,0.464,0.204,0.237,0.1842,1605144.0
24,Brunei,83.0,0.027,5765.0,14.90,7664.0,99.03,-0.004,1.85,1.346942e+10,...,31.0,NaN,0.060,1.61,433285.0,0.647,NaN,0.080,0.0912,337711.0
27,Burundi,463.0,0.792,27830.0,39.01,495.0,182.11,-0.007,5.41,3.012335e+09,...,548.0,NaN,0.191,0.10,11530580.0,0.792,0.136,0.412,0.0143,1541177.0
30,Cambodia,95.0,0.309,181035.0,22.46,9919.0,127.63,0.025,2.50,2.708939e+10,...,160.0,NaN,0.594,0.17,16486542.0,0.823,0.171,0.231,0.0068,3924621.0
34,Chad,13.0,0.397,1284000.0,42.17,1016.0,117.70,-0.010,5.75,1.131495e+10,...,1140.0,0.60,0.564,0.04,15946876.0,0.707,NaN,0.635,0.0189,3712273.0
38,Comoros,467.0,0.715,2235.0,31.88,202.0,103.62,-0.043,4.21,1.185729e+09,...,273.0,0.71,0.748,0.27,850886.0,0.433,NaN,2.196,0.0434,248152.0
43,Cyprus,131.0,0.122,9251.0,10.46,6626.0,102.51,0.003,1.33,2.456465e+10,...,6.0,NaN,0.439,1.95,1198575.0,0.631,0.245,0.224,0.0727,800708.0
46,Denmark,137.0,0.620,43094.0,10.60,31786.0,110.35,0.008,1.73,3.480780e+11,...,4.0,NaN,0.137,4.01,5818553.0,0.622,0.324,0.238,0.0491,5119978.0
47,Djibouti,43.0,0.734,23200.0,21.47,620.0,120.25,0.033,2.73,3.318716e+09,...,248.0,NaN,0.204,0.22,973560.0,0.602,NaN,0.379,0.1030,758549.0
48,Dominica,96.0,0.333,751.0,12.00,180.0,103.87,0.010,1.90,5.960333e+08,...,NaN,1.48,0.284,1.08,71808.0,NaN,0.221,0.326,NaN,50830.0
50,Ecuador,71.0,0.222,283561.0,19.72,41155.0,124.14,0.003,2.43,1.074357e+11,...,59.0,2.46,0.437,2.04,17373662.0,0.680,NaN,0.344,0.0397,11116711.0
51,Egypt,103.0,0.038,1001450.0,26.38,238560.0,288.57,0.092,3.33,3.031751e+11,...,37.0,NaN,0.620,0.45,100388073.0,0.464,0.125,0.444,0.1076,42895824.0
54,Eritrea,35.0,0.752,117600.0,30.30,711.0,NaN,NaN,4.06,2.065002e+09,...,480.0,NaN,0.524,0.06,6333135.0,0.784,NaN,0.837,0.0514,1149670.0
57,Ethiopia,115.0,0.363,1104300.0,32.34,14870.0,143.86,0.158,4.25,9.610766e+10,...,401.0,NaN,0.378,0.08,112078730.0,0.796,0.075,0.377,0.0208,23788710.0
59,Finland,18.0,0.075,338145.0,8.60,45871.0,112.33,0.010,1.41,2.687612e+11,...,3.0,NaN,0.199,3.81,5520314.0,0.591,0.208,0.366,0.0659,4716888.0
67,Grenada,331.0,0.235,349.0,16.47,268.0,107.43,0.008,2.06,1.228170e+09,...,25.0,NaN,0.570,1.41,112003.0,NaN,0.194,0.478,NaN,40765.0
69,Guinea,53.0,0.590,245857.0,36.36,2996.0,262.95,0.095,4.70,1.359028e+10,...,576.0,NaN,0.545,0.08,12771246.0,0.615,0.108,0.693,0.0430,4661505.0
71,Guyana,4.0,0.086,214969.0,19.97,2384.0,116.19,0.021,2.46,4.280444e+09,...,169.0,0.98,0.405,0.80,782766.0,0.562,NaN,0.306,0.1185,208912.0
72,Haiti,414.0,0.668,27750.0,24.35,2978.0,179.29,0.125,2.94,8.498982e+09,...,480.0,0.25,0.363,0.23,11263077.0,0.672,NaN,0.427,0.1378,6328948.0
76,Iceland,3.0,0.187,103000.0,12.00,2065.0,129.00,0.030,1.71,2.418804e+10,...,4.0,NaN,0.170,4.08,361313.0,0.750,0.233,0.319,0.0284,339110.0
83,Italy,206.0,0.432,301340.0,7.30,320411.0,110.62,0.006,1.29,2.001244e+12,...,2.0,NaN,0.228,3.98,60297396.0,0.496,0.243,0.591,0.0989,42651966.0
89,Kiribati,147.0,0.420,811.0,27.89,66.0,99.55,0.006,3.57,1.946472e+08,...,92.0,NaN,0.002,0.20,117606.0,NaN,0.220,0.327,NaN,64489.0
97,Libya,4.0,0.087,1759540.0,18.83,50564.0,125.71,0.026,2.24,5.207625e+10,...,72.0,1.88,0.367,2.09,6777452.0,0.497,NaN,0.326,0.1856,5448597.0
104,Maldives,1802.0,0.263,298.0,14.20,1445.0,99.70,0.002,1.87,5.729248e+09,...,53.0,NaN,0.164,4.56,530953.0,0.698,0.195,0.302,0.0614,213645.0
108,Mauritania,5.0,0.385,1030700.0,33.69,2739.0,135.02,0.023,4.56,7.593752e+09,...,766.0,0.53,0.482,0.19,4525696.0,0.459,NaN,0.670,0.0955,2466821.0
111,Federated States of Micronesia,784.0,0.314,702.0,22.82,143.0,112.10,0.005,3.05,4.019323e+08,...,88.0,NaN,0.025,0.18,113815.0,NaN,0.252,0.605,NaN,25963.0
115,Montenegro,47.0,0.190,13812.0,11.73,2017.0,116.32,0.026,1.75,5.494737e+09,...,6.0,1.23,0.318,2.76,622137.0,0.544,NaN,0.222,0.1488,417765.0
119,Namibia,3.0,0.471,824292.0,28.64,4228.0,157.97,0.037,3.40,1.236653e+10,...,195.0,NaN,0.083,0.42,2494530.0,0.595,0.271,0.207,0.2027,1273258.0
129,Norway,15.0,0.027,323802.0,10.40,41023.0,120.27,0.022,1.56,4.033364e+11,...,2.0,NaN,0.143,2.92,5347896.0,0.638,0.239,0.362,0.0335,4418218.0
132,Palau,39.0,0.109,459.0,14.00,224.0,118.17,0.013,2.21,2.839949e+08,...,NaN,3.00,0.218,1.18,18233.0,NaN,0.213,0.766,NaN,14491.0
134,Panama,58.0,0.304,75420.0,18.98,10715.0,122.07,-0.004,2.46,6.680080e+10,...,52.0,1.53,0.305,1.57,4246439.0,0.666,NaN,0.372,0.0390,2890084.0
141,Qatar,248.0,0.058,11586.0,9.54,103259.0,115.38,-0.007,1.87,1.834662e+11,...,9.0,NaN,0.062,2.49,2832067.0,0.868,0.147,0.113,0.0009,2809071.0
144,Rwanda,525.0,0.734,26338.0,31.70,1115.0,151.09,0.034,4.04,1.012247e+10,...,248.0,NaN,0.260,0.13,12626950.0,0.837,0.143,0.332,0.0103,2186104.0
145,Saint Kitts and Nevis,205.0,0.231,261.0,12.60,238.0,104.57,-0.010,2.11,1.050993e+09,...,NaN,3.33,0.566,2.52,52823.0,NaN,0.185,0.497,NaN,16269.0
146,Saint Lucia,301.0,0.174,616.0,12.00,414.0,110.13,0.019,1.44,2.122451e+09,...,117.0,NaN,0.484,0.64,182790.0,0.671,0.182,0.347,0.2071,34280.0
150,Sï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½,228.0,0.507,964.0,31.54,121.0,185.09,0.079,4.32,4.290166e+08,...,130.0,NaN,0.117,0.05,215056.0,0.578,0.146,0.370,0.1337,158277.0
154,Seychelles,214.0,0.034,455.0,17.10,605.0,129.96,0.018,2.41,1.698843e+09,...,53.0,2.00,0.025,0.95,97625.0,NaN,0.341,0.301,NaN,55762.0
156,Singapore,8358.0,0.009,716.0,8.80,37535.0,114.41,0.006,1.14,3.720625e+11,...,8.0,NaN,0.367,2.29,5703569.0,0.705,0.131,0.210,0.0411,5703569.0
159,Solomon Islands,25.0,0.039,28896.0,32.44,169.0,133.06,0.016,4.40,1.425074e+09,...,104.0,0.40,0.033,0.19,669823.0,0.838,0.295,0.320,0.0058,162164.0
161,South Africa,49.0,0.798,1219090.0,20.51,476644.0,158.93,0.041,2.41,3.514316e+11,...,119.0,NaN,0.077,0.91,58558270.0,0.560,0.275,0.292,0.2818,39149717.0
167,Suriname,4.0,0.006,163820.0,18.54,1738.0,294.66,0.220,2.42,3.985251e+09,...,120.0,NaN,0.101,1.21,581372.0,0.511,0.195,0.279,0.0733,384258.0
168,Sweden,25.0,0.074,450295.0,11.40,43252.0,110.51,0.018,1.76,5.308329e+11,...,4.0,NaN,0.152,3.98,10285453.0,0.646,0.279,0.491,0.0648,9021165.0
169,Switzerland,219.0,0.384,41277.0,10.00,34477.0,99.55,0.004,1.52,7.030824e+11,...,5.0,NaN,0.283,4.30,8574832.0,0.683,0.101,0.288,0.0458,6332428.0
176,Tonga,147.0,0.458,747.0,24.30,128.0,121.09,0.074,3.56,4.503533e+08,...,52.0,NaN,0.102,0.52,100209.0,0.598,0.223,0.275,0.0112,24145.0
180,Turkmenistan,13.0,0.720,488100.0,23.83,70630.0,NaN,NaN,2.79,4.076114e+10,...,7.0,0.88,0.711,2.22,5942089.0,0.645,NaN,NaN,0.0391,3092738.0
184,United Arab Emirates,118.0,0.055,83600.0,10.33,206324.0,114.52,-0.019,1.41,4.211423e+11,...,3.0,NaN,0.178,2.53,9770529.0,0.821,0.001,0.159,0.0235,8479744.0
188,Uzbekistan,79.0,0.629,447400.0,23.30,91811.0,NaN,NaN,2.42,5.792129e+10,...,29.0,0.24,0.427,2.37,33580650.0,0.651,0.148,0.316,0.0592,16935729.0
190,Venezuela,32.0,0.245,912050.0,17.88,164175.0,2740.27,2.549,2.27,4.823593e+11,...,125.0,0.01,0.458,1.92,28515829.0,0.597,NaN,0.733,0.0880,25162368.0
192,Yemen,56.0,0.446,527968.0,30.45,10609.0,157.58,0.081,3.79,2.691440e+10,...,164.0,NaN,0.810,0.31,29161922.0,0.380,NaN,0.266,0.1291,10869523.0
194,Zimbabwe,38.0,0.419,390757.0,30.68,10983.0,105.51,0.009,3.62,2.144076e+10,...,458.0,NaN,0.258,0.21,14645468.0,0.831,0.207,0.316,0.0495,4717305.0

**GDP per capita**: Estimate GDP per capita by dividing GDP by population size to measure average income.

In [ ]:
data['GDP per Capita'] = data['GDP'] / data['Population']

filing up the missing values using gdp per capita

In [ ]:
data['GDP per Capita'].describe()

count       180.000000
mean      14115.631779
std       19230.089691
min         261.247473
25%        1912.386766
50%        5978.254912
75%       17307.779464
max      110172.373141
Name: GDP per Capita, dtype: float64

**Education gap:** Calculate difference between primary and tertiary enrollment

In [ ]:
data['Education Gap'] = abs(data['Gross primary education enrollment (%)'] - data['Gross tertiary education enrollment (%)'])
data['Education Gap'].describe()

count    176.000000
mean       0.653750
std        0.314096
min        0.023000
25%        0.383250
50%        0.685000
75%        0.903500
max        1.417000
Name: Education Gap, dtype: float64

**Public health spending**: Calculate using out-of-pocket health expenditure percentage

In [ ]:

data['Public Health Spending'] = 100 - data['Out of pocket health expenditure']
data['Public Health Spending'].describe()
data.query("Country=='Uruguay'")["Out of pocket health expenditure"]

187    0.162
Name: Out of pocket health expenditure, dtype: float64

**Health rating**:

calculating a 'Health Rating' for each country based on 4 key health metrics - Infant Mortality, Life Expectancy, Maternal Mortality Ratio and Physicians per Thousand.We didn't use out of pocket health expenditure in calculating health rating, because the univariant exploration reveald that it's not a differentiating factor between developing countries health systems and developed countries.
it is a systematic process to assign a health rating to each country based on weighted aggregation of key health indicators. The rating simplifies comparison of overall healthcare access and quality between countries.

In [ ]:

# Define health columns
health_cols = ['Infant mortality', 'Life expectancy', 'Maternal mortality ratio',
                'Physicians per thousand','Public Health Spending']
data_with_health = data.copy()

# Fill NaN values with a default value
default_value = 0.5  # Replace NaN values with a default value between 0 and 1
data_with_health[health_cols] = data_with_health[health_cols].fillna(default_value)
normalized_health = (data_with_health[health_cols] - data_with_health[health_cols].min()) / (data_with_health[health_cols].max() - data_with_health[health_cols].min())

weights = np.array([-1, 1, -1,  -1, 1])

data_with_health['Health Score'] = (normalized_health * weights).sum(axis=1)

cutoffs = [0, 0.4, 0.7, 1]
labels = [1, 2, 3]
data_with_health['Health Rating'] = pd.cut(data_with_health['Health Score'], cutoffs, labels=labels)

data_with_health = data_with_health.drop(['Health Score'], axis=1)
data['Health Rating'] = data_with_health['Health Rating']

print(data_with_health[['Country', 'Health Rating']])

                 Country Health Rating
0            Afghanistan           NaN
1                Albania             3
2                Algeria             3
4                 Angola             1
5    Antigua and Barbuda           NaN
..                   ...           ...
190            Venezuela             2
191              Vietnam             3
192                Yemen           NaN
193               Zambia             1
194             Zimbabwe             1

[180 rows x 2 columns]

In [ ]:
data['Health Rating'].describe()

count     90
unique     3
top        3
freq      40
Name: Health Rating, dtype: int64

**Economic rating**

This code calculates an 'Economy Rating' for each country based on 9 key economic indicators. It follows a similar methodology as the health rating.this aggregates various economic indicators into a simplified 1-5 economy rating for each country. The rating enables easy comparison, benchmarking and ranking of countries based on overall economic performance. The weighting assigns more influence to certain indicators over others in the final rating.

In [ ]:
econ_cols = ['CPI', 'CPI Change (%)', 'GDP', 'Minimum wage', 'Tax revenue (%)', 'GDP per Capita',
             'Population: Labor force participation (%)', 'Total tax rate', 'Unemployment rate']
data_with_economy = data.copy()

# Fill NaN values with a default value
default_value = 0.5  # Replace NaN values with a default value between 0 and 1
data_with_economy[econ_cols] = data_with_economy[econ_cols].fillna(default_value)

normalized_economy = (data_with_economy[econ_cols] - data_with_economy[econ_cols].min()) / (data_with_economy[econ_cols].max() - data_with_economy[econ_cols].min())

weights = [-1, -1, 1, 1, 1, 1, 1, -1, -1]

data_with_economy['Economy Score'] = (normalized_economy * weights).sum(axis=1)

cutoffs = [0, 0.2, 0.4, 0.6, 0.8, 1]
labels = [1, 2, 3, 4, 5]
data_with_economy['Economy Rating'] = pd.cut(data_with_economy['Economy Score'], cutoffs, labels=labels)

data_with_economy = data_with_economy.drop(['Economy Score'], axis=1)
data['Economy Rating'] = data_with_economy['Economy Rating']
print(data_with_economy.head())

               Country  Density (P/Km2)  Agricultural Land( %)  \
0          Afghanistan             60.0                  0.581
1              Albania            105.0                  0.431
2              Algeria             18.0                  0.174
4               Angola             26.0                  0.475
5  Antigua and Barbuda            223.0                  0.205

   Land Area(Km2)  Birth Rate  Co2-Emissions     CPI  CPI Change (%)  \
0        652230.0       32.49         8672.0  149.90           0.023
1         28748.0       11.78         4536.0  119.05           0.014
2       2381741.0       24.28       150006.0  151.36           0.020
4       1246700.0       40.73        34693.0  261.73           0.171
5           443.0       15.33          557.0  113.81           0.012

   Fertility Rate           GDP  ...  \
0            4.47  1.910135e+10  ...
1            1.62  1.527808e+10  ...
2            3.02  1.699882e+11  ...
4            5.52  9.463542e+10  ...
5            1.99  1.727759e+09  ...

   Population: Labor force participation (%)  Tax revenue (%)  Total tax rate  \
0                                      0.489            0.093           0.714
1                                      0.557            0.186           0.366
2                                      0.412            0.372           0.661
4                                      0.775            0.092           0.491
5                                      0.500            0.165           0.430

   Unemployment rate  Urban_population  GDP per Capita  Education Gap  \
0             0.1112         9797273.0      502.115487          0.943
1             0.1233         1747593.0     5352.857411          0.520
2             0.1170        31510100.0     3948.343279          0.585
4             0.0689        21061025.0     2973.591160          1.042
5             0.5000           23800.0    17790.309304          0.802

   Public Health Spending  Health Rating  Economy Rating
0                  99.216            NaN             NaN
1                  99.431              3               3
2                  99.719              3               2
4                  99.666              1               3
5                  99.757            NaN             NaN

[5 rows x 29 columns]

In [ ]:
data['Economy Rating'].describe()

count     114
unique      5
top         4
freq       31
Name: Economy Rating, dtype: int64

imputing missing values in numeric columns by binning the columns into quantiles, calculating the median value within each bin, and then filling the missing values with the median from the corresponding bin based on the GDP per capita value.

In [ ]:
# //*#
# # List of columns to process (exclude non-numeric columns)
# numeric_columns = [col for col in data.columns if pd.api.types.is_numeric_dtype(data[col])]

# # List of categorical columns
# categorical_columns = [col for col in data.columns if not pd.api.types.is_numeric_dtype(data[col])]

# # Define the number of bins
# num_bins = 5

# # Bin each column independently and find the median for each bin
# bin_medians = {}
# for col in numeric_columns:
#     bin_col_name = f'{col}_bins'
#     data[bin_col_name], bin_edges = pd.cut(data[col], bins=num_bins, labels=False, retbins=True)
#     bin_medians[col] = data.groupby(bin_col_name)[col].transform('median')
#     data.drop(columns=[bin_col_name], inplace=True)

# # Function to find the median value for a given column and GDP per Capita value
# def find_median_value(col, gdp_value):
#     closest_distance = float('inf')
#     closest_median_value = np.nan
#     for bin_median, bin_edge in zip(bin_medians[col], bin_edges):
#         bin_value_center = (bin_edge + bin_edges[1]) / 2
#         distance = abs(bin_value_center - gdp_value)
#         if distance < closest_distance:
#             closest_distance = distance
#             closest_median_value = bin_median
#     return closest_median_value

# # Loop through each country and column to fill NaN values
# for index, row in data.iterrows():
#     gdp_per_capita = row['GDP per Capita']

#     for col in numeric_columns:
#         if pd.isnull(row[col]):
#             median_value = find_median_value(col, gdp_per_capita)
#             data.at[index, col] = median_value

# # Fill NaN values in categorical columns with mode
# for col in categorical_columns:
#     data[col].fillna(data[col].mode()[0], inplace=True)



# print(data.isna().any())
# //*

TypeError: putmask: first argument must be an array

In [ ]:
data.head(10)

,Country,Density (P/Km2),Agricultural Land( %),Land Area(Km2),Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,GDP,...,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,GDP per Capita,Education Gap,Public Health Spending,Health Rating,Economy Rating
0,Afghanistan,60.0,0.581,652230.0,32.49,8672.0,149.90,0.023,4.47,1.910135e+10,...,0.489,0.093,0.714,0.1112,9797273.0,502.115487,0.943,99.216,NaN,NaN
1,Albania,105.0,0.431,28748.0,11.78,4536.0,119.05,0.014,1.62,1.527808e+10,...,0.557,0.186,0.366,0.1233,1747593.0,5352.857411,0.520,99.431,3,3
2,Algeria,18.0,0.174,2381741.0,24.28,150006.0,151.36,0.020,3.02,1.699882e+11,...,0.412,0.372,0.661,0.1170,31510100.0,3948.343279,0.585,99.719,3,2
4,Angola,26.0,0.475,1246700.0,40.73,34693.0,261.73,0.171,5.52,9.463542e+10,...,0.775,0.092,0.491,0.0689,21061025.0,2973.591160,1.042,99.666,1,3
5,Antigua and Barbuda,223.0,0.205,443.0,15.33,557.0,113.81,0.012,1.99,1.727759e+09,...,NaN,0.165,0.430,NaN,23800.0,17790.309304,0.802,99.757,NaN,NaN
6,Argentina,17.0,0.543,2780400.0,17.02,201348.0,232.75,0.535,2.26,4.496634e+11,...,0.613,0.101,1.063,0.0979,41339571.0,10006.148974,0.197,99.824,3,1
7,Armenia,104.0,0.589,29743.0,13.99,5156.0,129.18,0.014,1.76,1.367280e+10,...,0.556,0.209,0.226,0.1699,1869848.0,4622.733493,0.381,99.184,NaN,2
8,Australia,3.0,0.482,7741220.0,12.60,375908.0,119.80,0.016,1.74,1.392681e+12,...,0.655,0.230,0.474,0.0527,21844756.0,54049.828812,0.128,99.804,NaN,NaN
9,Austria,109.0,0.324,83871.0,9.70,61448.0,118.06,0.015,1.47,4.463147e+11,...,0.607,0.254,0.514,0.0467,5194416.0,50277.275087,0.180,99.821,3,NaN
10,Azerbaijan,123.0,0.577,86600.0,14.00,37620.0,156.32,0.026,1.73,3.920700e+10,...,0.665,0.130,0.407,0.0551,5616165.0,3911.578980,0.720,99.214,NaN,3

In [ ]:
print(data.at[150,'Country'])
data.at[150,'Country']='Sao Tome and Principe'

Sao Tome and Principe

#Univariate Analysis:

**Density (P/Km2):** Population density measured in persons per square kilometer.

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 180 entries, 0 to 194
Data columns (total 29 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Country                                    180 non-null    object
 1   Density (P/Km2)                            180 non-null    float64
 2   Agricultural Land( %)                      180 non-null    float64
 3   Land Area(Km2)                             180 non-null    float64
 4   Birth Rate                                 180 non-null    float64
 5   Co2-Emissions                              180 non-null    float64
 6   CPI                                        176 non-null    float64
 7   CPI Change (%)                             177 non-null    float64
 8   Fertility Rate                             180 non-null    float64
 9   GDP                                        180 non-null    float64
 10  Gross primary education enrollment (%)     179 non-null    float64
 11  Gross tertiary education enrollment (%)    177 non-null    float64
 12  Infant mortality                           180 non-null    float64
 13  Life expectancy                            180 non-null    float64
 14  Maternal mortality ratio                   177 non-null    float64
 15  Minimum wage                               146 non-null    float64
 16  Out of pocket health expenditure           180 non-null    float64
 17  Physicians per thousand                    180 non-null    float64
 18  Population                                 180 non-null    float64
 19  Population: Labor force participation (%)  172 non-null    float64
 20  Tax revenue (%)                            165 non-null    float64
 21  Total tax rate                             179 non-null    float64
 22  Unemployment rate                          172 non-null    float64
 23  Urban_population                           180 non-null    float64
 24  GDP per Capita                             180 non-null    float64
 25  Education Gap                              176 non-null    float64
 26  Public Health Spending                     180 non-null    float64
 27  Health Rating                              90 non-null     category
 28  Economy Rating                             114 non-null    category
dtypes: category(2), float64(26), object(1)
memory usage: 44.1+ KB

In [ ]:
data.rename(columns = {'Density\n(P/Km2)':'Density'}, inplace = True)

In [ ]:
print(data['Density'])

KeyError: 'Density'

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
ax = sns.violinplot(data=data,x='Density')

ValueError: Could not interpret value `Density` for `x`. An entry with this name does not appear in `data`.

The density data is distributed asimetrically to the right with significant value differences.<br> Most of the data is concentrated in the area between 0-1000 people per square kilometer.

In [ ]:
ax = sns.violinplot(data=data,x='Density',inner="stick")
plt.xlim(0,1000)

In [ ]:
sns.barplot(x='Country',y='Density',data=data.sort_values('Density').tail(10))
plt.title("10 most dendsed countries")
plt.tick_params(axis='x', rotation=90)

We were interested in examining whether the most densely populated countries are indeed countries that are considered "weak" and we found that this is **not** the case here. It is possible that the reason for this stems from the very definition of the density measurement. The density calculation does not take into account cases of large countries with masses of residents who are concentrated in several main areas, and not evenly distributed (or close to that) across the country's territory (this could be the case for countries like India / China that are known as extremely dense countries).

**Agricultural Land( %):** Percentage of land area used for agricultural purposes.

In [ ]:
ax=sns.histplot(data=data,x='Agricultural Land( %)',kde=True)

The agricultural land % is quite normally distributed throughout the data with the majority of countries has between 20%-60% agricultural land.

**Land Area(Km2):**Total land area of the country in square kilometer.

In [ ]:
ax=sns.violinplot(data=data,x='Land Area(Km2)')

The land area data includes extreme value differences with a   asymmetric right distribution: countries with land area of tens / hundreds / thousands of square kilometers as well countries with land area of hundreds of thousands and even millions of square kilometers. This situation causes the x-axis display to adjust itself to allow the integration of all values within the displayed visualization. For example, the highest value in the axis 1.75  represent land area of ~17.5M square kilometers to include the land area of Russia  (17,098,240 square kilometers) within the visualization.

**Birth Rate:** Number of births per 1,000 population per year.

In [ ]:
data.rename(columns = {'Birth Rate':'Birth_Rate'}, inplace = True)
ax=sns.histplot(data=data,x='Birth_Rate',kde=True)
plt.show()


The distribution of the data tends to be asymmetric to the right, which indicates a relatively low median birth rate.

In [ ]:
sns.barplot(x='Country',y='Birth_Rate',data=data.sort_values('Birth_Rate').tail(10))
plt.title("1o countries with top birth rates")
plt.tick_params(axis='x', rotation=90)

We were interested in examining whether developing (financialy weaker) countries are characterized by a higher birth rates. The barplot above looks at the 20 countries with the highest birth rates and we can see that all of those countries are indeed developing countries. Therefore, we learn that this parameter may be a good testing parameter for our research question.

**Fertility Rate:** Average number of children born to a woman during her lifetime.<br> We expect similar conclusions to the "Birth rate" feature.

In [ ]:
ax=sns.histplot(data=data,x='Fertility Rate',kde=True)
plt.show()

In [ ]:
sns.barplot(x='Country',y='Fertility Rate',data=data.sort_values('Fertility Rate').tail(10))
plt.title("1o countries with top fertility rates")
plt.tick_params(axis='x', rotation=90)

As expected, we see very similar results to the above univariate visualization of "Birth Rate".

**Co2-Emissions:** Carbon dioxide emissions in tons

In [ ]:

data['Co2_Emissions_per_capita']=data['Co2-Emissions']/data['Population']

**Exploring** Co2 emissions as it is will not give us meaningful data. Smaller countries will produce less Co2 emissions simply because of their size. Therefore, we calculated Co2 emissions per capita in order to gain meaningfil insights.

In [ ]:
ax=sns.violinplot(data=data,x='Co2_Emissions_per_capita')

The CO2 emissions data includes extreme value differences (with an asymmetric right distribution). The x-axis ticks are automatically adjusted to allow the inclusion of all values within the displayed visualization.

In [ ]:
plt.figure(figsize=(15, 8))

plt.subplot(1,2,1)
ax1=sns.barplot(x='Country',y='Co2_Emissions_per_capita',data=data.sort_values('Co2_Emissions_per_capita').tail(10))
plt.title("10 most polluting countries")
plt.tick_params(axis='x', rotation=90)

plt.subplot(1,2,2)
ax2=sns.barplot(x='Country',y='Co2_Emissions_per_capita',data=data.sort_values('Co2_Emissions_per_capita').head(10))
plt.title("10 least polluting countries")
plt.tick_params(axis='x', rotation=90)

plt.show()

We were interested in examining whether Co2 emission levels are indicative of developing countries. According to the above barcharts it can be seen that it is indeed so. In the modern era, the most polluting countries are mostly countries whose economy heavily depend on fossil fuels, particularly oil and natural gas, for energy and economic activities as well as modern western highly industrialized countries who uses alot of such fuels. In contrast, developing countries are relatively less polluting as they are less industrialized and prioritize sustainable development and renewable energy.

**CPI:** Consumer Price Index (a measure of inflation and purchasing power)<br> **CPI Change (%):** Percentage change in the Consumer Price Index compared to the previous year.

In [ ]:
ax=sns.violinplot(data=data,x='CPI')
plt.show()

CPI data includes extreme value differences (with an asymmetric right distribution). This make sense as most countries have similar inflation status (similar CPI levels) while few countries which are hyper inflated  have much higher CPI and are causing the plot to have this shape.

In [ ]:
ax=sns.violinplot(data=data,x='CPI Change (%)')
plt.show()

Similarly to the previous plot, the chang in CPI comapred to previous year is also distibuted assimetrically to the right with extreme value differences. We assum that the same hyper inflated countries are again the cause to this effect here due to current fluctuations in their CPI levels.

We were interested in examining whether high CPI levels characterize financially weaker (developing) countries

In [ ]:
ax=sns.barplot(x='Country',y='CPI',data=data.sort_values('CPI').tail(10))
plt.title("10 most inflated countries")
plt.tick_params(axis='x', rotation=90)

We see that the mix of the most inflationary countries does not necessarily correspond to the "normal" mix of developing countries that we see in the analysis of other distinguishing indices. Inflation can derive from a variety of resons. For example, the inflation in Iran is mostly due to socio-political upheavals, a collapse in aggregate supply of needed commodities and exports constraints. The inflation is Venezela is mainly due to heavy money printing and deficit spending.

**GDP per Capita:** GDP= Gross Domestic Product, the total value of goods and services produced in the country.

Due to size influence (bigger countries will most probably have higher GDP), we must use GDP per capita in order to be able to gain insights from the GDP data.

In [ ]:
print(data[['Country','CPI']])

In [ ]:
ax=sns.violinplot(data=data,x='GDP per Capita')
plt.show()

Again we have an assymetric right distribution with extensive value differences. We assume that developing (financialy weaker) countries will have lower GDP values.

In [ ]:
ax=sns.barplot(x='Country',y='GDP per Capita',data=data.sort_values('GDP per Capita').head(10))
plt.title("10 countries with lowest GDP per capita")
plt.tick_params(axis='x', rotation=90)

Indeed, we see that all the above are developing countries. mostly located in Africa.

** Gross primary education enrollment (%):**Gross enrollment ratio for primary education.

In [ ]:
ax=sns.histplot(data=data,x='Gross primary education enrollment (%)',kde=True)
plt.show()

We assume that developing countries will have lower primary education enrollment rates.

In [ ]:
ax=sns.barplot(x='Country',y='Gross primary education enrollment (%)',data=data.sort_values('Gross primary education enrollment (%)').head(10))
plt.title("10 countries with lowest primary education enrollment rates")
plt.tick_params(axis='x', rotation=90)

Indeed, we see that all the above are developing countries. mostly located in Africa.

**Gross tertiary education enrollment (%):** Gross enrollment ratio for tertiary education.

In [ ]:
ax=sns.histplot(data=data,x='Gross tertiary education enrollment (%)',kde=True)
plt.show()

In [ ]:
ax=sns.barplot(x='Country',y='Gross tertiary education enrollment (%)',data=data.sort_values('Gross tertiary education enrollment (%)').head(10))
plt.title("10 countries with lowest teritiary education enrollment rates")
plt.tick_params(axis='x', rotation=90)

In contrast to primary education enrollment, here we can see that the teritiary enrollment rates are much lower in general. Teritiary eduaction is any level of education pursued beyond high school, including undergraduate and graduate credentials. We can assume that advanced countries will have higher teritiary education enrollment rates but we also assume that lower primary education enrollment rates are indicatives of weaker countries compared to those with lower teritiary education enrollment rates, as it refers to a lack of more basic education.
We can see that also here the 10 countries with lowest rates are developing countries.

**Education gap:** Calculated variable of the difference between primary and tertiary enrollment

In [ ]:
ax=sns.histplot(data=data,x='Education Gap',kde=True)
plt.show()

In [ ]:
ax=sns.barplot(x='Country',y='Education Gap',data=data.sort_values('Education Gap').tail(10))
plt.title("10 countries with highest Education gaps enrollment rates")
plt.tick_params(axis='x', rotation=90)

After examaning the education gap data, we understand the following:
(1)Western advanced countries ofter have both high primary and high tertiary education enrollment rates which result in a low education gap. <br>(2)Some developing countries have both low primary and low teritiary education enrollment rates which result in a low rduacation gap, while other have very high (above 100%) primary education enrollment rates and low teritiary education enrollment rates which result in a high education gap.
Therefore, we can't use the education gap calculation as it is to infer meaningful insights.

**Infant mortality:** Number of deaths per 1,000 live births before reaching

In [ ]:
ax=sns.histplot(data=data,x='Infant mortality',kde=True)
plt.show()

We can see that in most cases, infant mortalities are in relatively low figures- between 0 and 20 cases per 1,000 live births. This is probably due to advances in medicine and awareness of safe birth and newborn care in most countries.

In [ ]:
ax=sns.barplot(x='Country',y='Infant mortality',data=data.sort_values('Infant mortality').tail(10))
plt.title("10 countries with highest infant mortalities")
plt.tick_params(axis='x', rotation=90)

We can see that this feature also identifies developing countries as they are more dalyed in regards to medical progress and therefore their numbers of infant mortalities are significantly higher

:**Life expectancy:** Average number of years a newborn is expected to live.

In [ ]:
ax=sns.histplot(data=data,x='Life expectancy',kde=True)
plt.show()

The majoroty of countries have life expectancy of 70-80 years. An increase in life expectancy is usually associated with technological and medical progress, therefore we should expect similar conclusions to those we derived from infant mortality variable.

In [ ]:
ax=sns.barplot(x='Country',y='Life expectancy',data=data.sort_values('Life expectancy').head(10))
plt.title("10 countries with lowest life expectencies")
plt.tick_params(axis='x', rotation=90)

As expected, we see that the countries with lowest life expectencies are developing countries (which are delayed in terms of technological progress).

**Maternal mortality ratio:** Number of maternal deaths per 100,000 live births.

In [ ]:
ax=sns.histplot(data=data,x='Maternal mortality ratio',kde=True)
plt.show()

 Similar to the case of infant mortalities, we can see that in most cases, maternal mortalities are in relatively low figures (0-50 cases per 100,000 live births). This is again related to modern progress and therefore we expect to have similar results.

In [ ]:
ax=sns.barplot(x='Country',y='Maternal mortality ratio',data=data.sort_values('Maternal mortality ratio').tail(10))
plt.title("10 countries with highest Maternal mortality ratios")
plt.tick_params(axis='x', rotation=90)

**Results** as expected.

**Minimum wage:** Minimum wage level after conversion to US dollars

In [ ]:
ax = sns.violinplot(data=data,x='Minimum wage')

We can see that the minimum wage is distributed asimetrically to the right. We assume that developing countries will probably have lower minimum wages due to a variety of factors, including lower levels of industrialization, limited labor regulations, less advanced infrastructure, and lower overall economic productivity. These factors often result in lower average wages and lower standards of living.

In [ ]:
ax=sns.barplot(x='Country',y='Minimum wage',data=data[data['Minimum wage'] != 0].sort_values('Minimum wage').head(10))
plt.title("10 countries with lowest minimum wage")
plt.tick_params(axis='x', rotation=90)

As expected, the countries with the lowest minimum wage are all developing countries.<br>(*)We decided not to include countries for which the minimum wage is defined as 0 because apparently in these countries no minimum wage is defined at all.

**Out of pocket health expenditure:** Percentage of total health expenditure paid out-of-pocket by individuals.

In [ ]:
ax=sns.histplot(data=data,x='Out of pocket health expenditure',kde=True)
plt.show()

We see that in most cases, individual paymments of health expenditure can vary between 0.1 and 0.5 of total ealth exppenditre. <br>Increased % of out-of-pockect health expenses can be due to various reasons such as: <br>
* a lack of health insurance coverage
* limited access to public healthcare
* high deductibles and copayments
* Expensive Prescription Drugs
* Non-Covered Services<br>

We assume that low precentage of out-of-pocket health expeses can be indicative to more modernized advanced countries while we are not sure about the meaning of high out-of-pocket health expeses which can be due to government positions and not necessarily be related to the  objective economic status of a country.

In [ ]:
plt.figure(figsize=(15, 8))

plt.subplot(1,2,1)
ax=sns.barplot(x='Country',y='Out of pocket health expenditure',data=data.sort_values('Out of pocket health expenditure').head(10))
plt.title("10 countries with lowest Out of pocket health expenditure")
plt.tick_params(axis='x', rotation=90)

plt.subplot(1,2,2)
ax=sns.barplot(x='Country',y='Out of pocket health expenditure',data=data.sort_values('Out of pocket health expenditure').tail(10))
plt.title("10 countries with highest Out of pocket health expenditure")
plt.tick_params(axis='x', rotation=90)

plt.show()

1. Unlike our assumption, the leading western countries actually do not appear in the ranking above among the 10 countries with lowesr out of pocket health expenses. We assume that this is probable due to uninsured population / expensive procedures that aren't covered.  

2. All of the 10 countries with highest out of pocket health expenses are developing countries with weak economic status.

**Physicians per thousand:** Number of physicians per thousand people.

In [ ]:
ax=sns.histplot(data=data,x='Physicians per thousand',kde=True)
plt.show()

We assume that countries who put an emphasis on the availability of its healthcare services will probably have a good ratio of physicians per thousand. Also we assume that extremely low ratio will probably be indicative of developing countries.

In [ ]:
ax=sns.barplot(x='Country',y='Physicians per thousand',data=data.sort_values('Physicians per thousand').head(10))
plt.title("10 countries with lowest Physicians per thousand ratio")
plt.tick_params(axis='x', rotation=90)
plt.show()

Results as expected.

**Population:**Total population of the country.

In [ ]:
ax = sns.violinplot(data=data,x='Population')
plt.show()


The distribution of the world's population is characterized by significant asymmetry, due to the concentration of people in certain regions and sparse populations in others.

**Urban_population:** Percentage of the population living in urban areas.

In order to visualize this feature we calculated urban population as a precentage of total population:

In [ ]:
data['urban_population_%']=data['Urban_population']/data['Population']

In [ ]:
ax=sns.histplot(data=data,x='urban_population_%',kde=True)
plt.show()

We assume that some developing countries do not have as many "urban" areas which can lead to a very small precentage of urban population. <br>(*) We are aware that this is not a "must have" characteristic of all developing countries which can be considered as such for utterly different reasons.

In [ ]:
ax=sns.barplot(x='Country',y='urban_population_%',data=data.sort_values('urban_population_%').head(10))
plt.title("10 countries with lowest urban population")
plt.tick_params(axis='x', rotation=90)
plt.show()

Result as expected.

**Population: Labor force participation (%):**Percentage of the population that is part of the labor force.

In [ ]:
ax=sns.histplot(data=data,x='Population: Labor force participation (%)',kde=True)
plt.show()

In [ ]:
plt.figure(figsize=(15, 8))

plt.subplot(1,2,1)
ax=sns.barplot(x='Country',y='Population: Labor force participation (%)',data=data.sort_values('Population: Labor force participation (%)').head(10))
plt.title("10 countries with lowest labor force participation")
plt.tick_params(axis='x', rotation=90)

plt.subplot(1,2,2)
ax=sns.barplot(x='Country',y='Population: Labor force participation (%)',data=data.sort_values('Population: Labor force participation (%)').tail(10))
plt.title("10 countries with highest labor force participation")
plt.tick_params(axis='x', rotation=90)

plt.show()

We were surprised by the result of ranking above. We enticipated that the main factors to encourage high labor force participation will be gender equality legistlation (e.g. Iceland) , social welfare system/ family- friendly policies (e.g. Norway / Sweden/ Netherlands/ Denmark) colture and also high work ethics (e.g.Japan), but the ranking shows different results. This result might derive from taking into account working from a very young age / not retiring even at older ages.

**Unemployment rate:** Percentage of the labor force that is unemployed.

In [ ]:
ax=sns.histplot(data=data,x='Unemployment rate',kde=True)
plt.show()

In [ ]:
plt.figure(figsize=(15, 8))

plt.subplot(1,2,1)
ax=sns.barplot(x='Country',y='Unemployment rate',data=data.sort_values('Unemployment rate').head(10))
plt.title("10 countries with lowest unemployment rates")
plt.tick_params(axis='x', rotation=90)

plt.subplot(1,2,2)
ax=sns.barplot(x='Country',y='Unemployment rate',data=data.sort_values('Unemployment rate').tail(10))
plt.title("10 countries with highest unemployment rates")
plt.tick_params(axis='x', rotation=90)

plt.show()

**Total tax rate:** Overall tax burden as a percentage of commercial profits.

In [ ]:
ax=sns.histplot(data=data,x='Total tax rate',kde=True)
plt.show()

We assume that there are various factors why a country has a high / low overall tax rate. While some countries may have high overall tax rates, they may offer other advantages such as access to markets, infrastructure and a skilled workforce. Similarly, while low tax rates can be attractive to businesses, it is only one part of a wider economic and regulatory context. We do not believe that this feature is a key to identifying developing countries that are struggling economically.

**Tax revenue (%):** Tax revenue as a percentage of GDP.

In [ ]:
ax=sns.histplot(data=data,x='Tax revenue (%)',kde=True)
plt.show()

We can see that the distribution is quite normal. Similar to the total tax rate feature, we do not assume this will be a key factor in identifying developing countries that are struggling economically.

#Conclusions so far:
After performing the univariate analysis, we decided to focuse on 4 main  features which in our opinion constitute the most acute challenges of developing countries: Infant mortality, Maternal mortality, Life expectancy and Gross teritary enrollment ratio.

We chose these parameters due to the following reasons:
 1. We chose parameters with the highest priority on a moral level.<br> Three of the features concern human life and another one concerns education which is an "easy" investment in the sense that it is very clear how to positivly influence it to deliver good results that can also positivly impact alot of other progress related factors.
 2. Parameters that can be influenced on a practical/ actionable level.
 3. Parameters that do not constitute an ethical conflict, for example: although high birth rate / fertility rate are natural charectaristics of developing countries, we did not see fit to influence them directly following our visual analysis.

#Multivariate Visualizations

In [ ]:
corr_matrix = data.corr()
mask = np.triu(np.ones_like(corr_matrix, dtype=bool))
plt.figure(figsize=(10, 8))
sns.heatmap(corr_matrix, annot=True, mask=mask, fmt=".2f", cmap="coolwarm",linewidths=0.5, annot_kws={"size": 6})
plt.xticks(rotation=45, ha="right")
plt.yticks(rotation=0)
plt.title('Correlation Heatmap of Variables')
plt.tight_layout()
plt.show()

Analyzing the results of the correlation heatmap that exhibit correlations exceeding 70% (both positive and negative), we can gain insights into identifying financially struggling or developing countries based on various interconnected factors. Here are concise explanations for each set of correlations in this context.
<br>
(-) We focused mainly on the correlations that has to do with our main goal.<br>
(-) Also, we didn't analyse obvious correlations like between CPI and CPI change :

**Variables with High Positive Correlations:**

* GDP and CO2 Emissions (0.92): Financially struggling countries tend to have lower GDP and industrialization, leading to reduced CO2 emissions.
* Infant Mortality and Fertility Rate (0.84): High fertility rates and inadequate healthcare can contribute to higher infant mortality in developing nations.
* Life Expectancy and Gross Tertiary Education Enrollment Rate (0.71): Lower life expectancy and limited access to higher education coincide in struggling economies.
* Maternal Mortality Ratio and Fertility Rate (0.78): Developing countries with higher fertility rates often face increased maternal health risks.
* Physicians per Thousand and Gross Tertiary Education Enrollment Rate (0.72): Limited healthcare availability and insufficient higher education align with developing countries.
* Physicians per Thousand and Life Expectancy (0.71): Scarce medical professionals can contribute to lower life expectancy in struggling economies.
* Urban Population and CO2 Emissions (0.93): Less urbanization in financially struggling countries is related to lower CO2 emissions.
* Urban Population and GDP (0.78): Higher urbanization is related to higher GDP levels.
* GDP per capita and Minimum wage (0.73): Higer minimum wage (a sign of overall good economic status) is related to higher levels of GDP per capita.

**Variables with High Negative Correlations:**

* Life Expectancy and Fertility Rate (-0.84): Higher fertility rates often relate to lower healthcare access and life expectancy in developing nations.
* Life Expectancy and Infant Mortality (-0.92): Same A above.
* Physicians per Thousand and Birth Rate (-0.75): Limited healthcare access contributes to higher birth rates in developing economies.
* Physicians per Thousand and Infant Mortality (-0.71): Reduced healthcare availability leads to higher infant mortality rates in financially struggling nations.

In conclusion, the correlations among indicators unveil nuanced relationships crucial for identifying developing nations. These insights underscore the multifaceted nature of socio-economic factors influencing countries' development trajectories.

In [ ]:
sns.scatterplot(data=data, x='GDP per Capita', y='Life expectancy', size='Economy Rating', hue='Economy Rating')
plt.show()

Not surprisingly, we can see that at the intersect of the highest GDP levels (20,000+) and highet life expectancies (80+) there are only coutries with  economy ratings of 4 and 5. None the less, it is quite surprising that countries with economy rating #4 also appear at the lower / lowest intersect between GDP ad life expectancy levels. This is probably a result of economic features (other that GDP/ GDP per capita) which are part of the rating calculation. This can potentially indicate that a further study should be made to improve the calculation of the the economic rating althogh different countries often have diferent combinations of the rating's components, indicating that these differences do not inherently imply any fundamental mistake.

In [ ]:
sns.scatterplot(data=data, x='GDP per Capita', y='Life expectancy', size='Health Rating', hue='Health Rating')
plt.show()

Similarly, we can see that the countries with the health rating (3) appear at the intersect of the highest GDP levels (20,000+) and highet life expectancies (80+) and like before, again it is quite surprising that countries with health rating #3 also appear at the lower / lowest intersect between GDP ad life expectancy levels but this could be a result of the different mix of features composing the rating calculation. Further analysis should be made to examine the need / options for refining the health rating.

In [ ]:

bins=[0,2000,6000,15000,185000]
bins_labels = [1,2,3,4]
data['gdp_binned'] = pd.cut(data['GDP per Capita'], bins,labels=bins_labels)

In [ ]:

fig = px.parallel_coordinates(data, color="gdp_binned",
                              dimensions=['Infant mortality', 'Life expectancy', 'Maternal mortality ratio','Gross tertiary education enrollment (%)'],
                              title='Focus features: Infant mortality, Maternal mortality, Life expectancy and tertiary education enrollment (%)',
                              color_continuous_scale=px.colors.diverging.Tealrose,
                              color_continuous_midpoint=2)

fig.show()

In [ ]:

def range_check(x,y,param):
    if data[param][i] >=x and data[param][i]<=y:
        return True
    else:
        return False

res_cross_check=[]
for i in data.index:
    if range_check(30,84.5 ,'Infant mortality') and range_check(52.8, 70, 'Life expectancy') and range_check(300, 1140, 'Maternal mortality ratio')and range_check(0.008,0.1,'Gross tertiary education enrollment (%)'):
        res_cross_check.append(data['Country'][i])

print("Countries after interactive filtering:",*res_cross_check,sep = "\n")
print()
print("Number of countries:", len(res_cross_check))

The parallel coordinates plot serves as a potent tool for highlighting the correlations between specific attributes and discernible trends or narratives concealed within the data. Moreover, interactive components such as filtering augment user exploration and comprehension.

In the aforementioned context, we elected our 4 focus features â€“ Infant mortality, ,Maternal mortality, Life Expectancy and Gross tertiary education enrollment (%) â€“ which are hypothesized to be substantial indicators of developing countries. Subsequently, we restricted their ranges to align with the characteristics of developing nations.

By additionally filtering the remaining two parameters, we can amplify the level of socio-economic necessity among the countries we identify, while concurrently reducing the quantity of outcomes.

#The multivariate visualizations support our interim conclusions:
We can see that our choice of focus features is indeed relevant when looking at a "bigger picture" with more variable at once.
This confirmation allows us to proceed safely to bivariate analysis in which we will try to find the best ways to influence those features.

# Revised research questions and hypoteses based on current stage of  analysis:
After going over the data, feature by feature and indetifiying the most relevant features in terms of third world countries' challenges, we are revising our basic research questions and hypoteses in order to make them more precise and actionable towards real possible improvements.

1. Which countries suffer the most from high infant mortality? And what change can be made to improve it?
2. Which countries suffer the most from high maternal mortality ratio And what change can be made to improve it?
3. Which countries suffer the most from low life expactancy? and what change can be made to improve it?
4. Which countries suffer the most from low Gross teritary enrollment ratios and what change can be made to improve it?

Revised hypotheses:

*   H1: Relatively high infant mortality rate is related to bad health ratings and bad economic ratings.

*   H2: Relatively high maternal mortality ratio is related to bad helth ratings and bad economics ratings.

*   H3: Relatively low life expctancy is related to bad helth ratings and bad economic ratings.

*   H4: Relatively low gross teriteary enrollment ratio is related to  bad economic ratings and large rural population.

#Bivariate Analysis

**Exploring Potential Investment Opportunities:**

In the next section, we will explore how different socio-economic factors correlate with key developmental indicators in developing countries. The goal is to identify prospective areas for impactful monetary investments that can uplift struggling nations.

We will conduct analysis to understand the relationships between metrics like healthcare access, educational enrollment, GDP per capita and other attributes.

This will reveal how specific issues like infant mortality, life expectancy, and ducational enrollment are tied to underlying economic drivers. These insights can pinpoint high-potential sectors and interventions where targeted financial aid and investments could create significant improvements for developing economies.

The end goal is to identify actionable, evidenced-based development initiatives that can maximize outcomes and returns for limited aid dollars. Focusing resources where they can achieve the greatest impact will be key as we explore prospective monetary interventions for uplifting struggling nations worldwide.

Based on the correlation analysis, we identified several noteworthy associations between key socio-economic factors and health/education indicators:

Life Expectancy exhibits positive correlation with Gross Tertiary Enrollment Rate and Physicians per Thousand.
Infant Mortality demonstrates negative correlation with Physicians per Thousand and Minimum Wage.
Maternal Mortality Ratio correlates negatively with Minimum Wage and Education Gap.
Education Gap has negative correlation with Maternal Mortality but positive linkage to Life Expectancy.
To further analyze these relationships, we will create scatter plots between the associated variable pairs. Visualizing the correlations allows us to assess the strength and direction of the associations.

We specifically chose to focus on actionable socio-economic factors like minimum wage, healthcare access and education spending. Understanding their linkage to key outcomes like mortality rates and life expectancy can inform policies and interventions to improve these indicators.

For example, the correlations suggest investments to increase wages and number of physicians could lower infant and maternal mortality. Closing the education gap also appears tied to longer life expectancy. Plotting these connections provides data-driven insights into high-potential areas where targeted aid could create tangible improvements for developing countries.

The visual analysis will augment our understanding of how specific developmental challenges are interlinked with underlying economic and social drivers. This can guide evidence-based investment priorities for donors and policy makers focused on maximizing outcomes for the disadvantaged populations.

In [ ]:
%pip install plotly_express==0.4.0

In [ ]:
def choropleth(data, color, title):

    fig = px.choropleth(
        data,
        locations="Country",
        locationmode='country names',
        color=color ,
        hover_name='Country',
        color_continuous_scale=px.colors.sequential.YlOrRd
    )

    fig.update_layout(
        title = title,
        geo = dict(showframe = False, showcoastlines=False)
    )

    return fig

In [ ]:
def reverse_choropleth(data, color, title):

    fig = px.choropleth(
        data,
        locations="Country",
        locationmode='country names',
        color=color ,
        hover_name='Country',
        color_continuous_scale=px.colors.diverging.RdYlGn
    )

    fig.update_layout(
        title = title,
        geo = dict(showframe = False, showcoastlines=False)
    )

    return fig

**Looking into infant mortality rate**


Infant mortality by Country

In [ ]:
fig = choropleth(data,"Infant mortality", "Infant mortality by Country")
fig.show()

The highest Infant mortality rates are located mainly in Africa and war struck countries in Asia.

Health rating Vs infant mortality

In [ ]:
plt.figure(figsize=(10, 6))
sns.boxplot(data=data, x='Health Rating', y='Infant mortality')
plt.xlabel('Health Rating')
plt.ylabel('Infant mortality')
plt.title('Infant mortality by Health Rating')
plt.show()

Unsuprisingly the general Health state is connected to infant mortality with high infant mortality ratio at rating 1. Further invastigation into health aspects is needed.

Infant mortality rate VS phsicans per thousand

In [ ]:
Infant_mortality_rates = data['Infant mortality']
Physicians_per_thousand = data['Physicians per thousand']

# Create scatter plot
plt.figure(figsize=(10, 6))
plt.scatter(Infant_mortality_rates, Physicians_per_thousand , alpha=0.7)
plt.title('Scatter Plot of Infant mortality rates vs Physicians per thousand')
plt.xlabel('Infant_mortality_rates')
plt.ylabel('Physicians_per_thousand')
plt.grid(True)

plt.show()

As expected, the scatter plot shows a strong negative correlation between physicians per thousand and infant mortality rate. Countries with higher numbers of physicians per thousand population tend to have lower infant mortality rates.

Specifically, the visualization reveals that having at least 1 physician per thousand people is a pivotal threshold. Nearly all countries that have reached this minimum level of 1 physician per 1000 population exhibit infant mortality rates below 20 deaths per 1000 live births.

In contrast, countries with physician density below 1 per 1000 people span a wide range of infant mortality rates, mostly exceeding 20 deaths per 1000 live births.

This implies that reaching a critical capacity of healthcare professionals is vital for reducing preventable infant deaths. The steep decline in mortality after surpassing 1 physician per 1000 signifies the impact even marginal increments in healthcare access can achieve.

Infant mortality VS Economy rating

In [ ]:
plt.figure(figsize=(10, 6))
sns.boxplot(data=data, x='Economy Rating', y='Infant mortality')
plt.xlabel('Economy Rating')
plt.ylabel('Infant mortality')
plt.title('Infant mortality by Economy Rating')
plt.show()

The box plot unsurprisingly reveals that the highest median infant mortality rates assigned to the lowest rating of 1.

Within the economy rating 1 bin, the range of infant mortality rates spans slightly above 0 to approximately 50. The median value in this bin is slightly higher than that of the economy rating 2 bin. Most of the infant mortality instances in the economy rating 1 bin are concentrated between an infant mortality rate of 10 and 30.

In contrast, the economy rating 2 bin for infant mortality begins lower than the starting point of the economy rating 1 bin and extends up to an infant mortality rate of 80. The majority of countries in this bin experience infant mortality rates between 15 and 60, and the median line for this bin is slightly lower than that of the economy rating 1 bin.

It's worth noting that the bins corresponding to economy ratings 3, 4,  have broader ranges than the rating 1 bin, encompassing even higher infant mortality rates. However, their median values are generally lower. The distribution of infant mortality rates in these higher economy rating bins varies in width.

Infant mortality vs Minimum wage

In [ ]:
Infant_mortality_rates = data['Infant mortality']
Minimum_wage = data['Minimum wage']

# Create scatter plot
plt.figure(figsize=(10, 6))
plt.scatter(Infant_mortality_rates, Minimum_wage , alpha=0.7)
plt.title('Scatter Plot of Infant mortality rates vs Minimum_wage')
plt.xlabel('Infant_mortality_rates')
plt.ylabel('Minimum_wage')
plt.grid(True)

plt.show()

The scatterplot shows a downward sloping relationship between minimum wage and infant mortality rate, indicating that higher minimum wage is associated with lower infant deaths.

However, the correlation is non-linear. There seems to be a threshold effect around 2 dollar per hour minimum wage. Below 2 dollar, infant mortality rates span a wide range up to 90 deaths per 1000 live births. But countries with minimum wage above 2 dollars exhibit infant mortality rates clustered under 40.

Crossing the 2 dollar threshold leads to a steep decline in mortality down to around 20 deaths per 1000 live births. However, the downward slope flattens after 4 dollar minimum wage, with diminishing improvements in mortality.

Interestingly, countries with minimum wages near 4 dollar deviate upwards from the general trend, with mortality rates around 60 despite the higher pay. Overall, the visualization implies that the 2  dollar and 4 dollar levels represent pivotal milestones for impact on infant health.

Targeted aid policies to improve minimum wages, particularly lifting extremely low-wage countries above 2 dollar per hour, could have measurable effects on reducing preventable infant deaths. But the non-linear relationship and diminishing returns above 4 dollar highlight the complexity of this linkage.

looking into the deviates countries around the 4 dollars hourly wage:

In [ ]:
# Filter data for countries with minimum wage between $3.2 and 3.5
filtered_data = data[(data['Minimum wage'] >= 3.2) & (data['Minimum wage'] <= 3.5)]
print(filtered_data['Country'])

plt.figure(figsize=(10, 6))
plt.scatter(filtered_data['Minimum wage'], filtered_data['Infant mortality'], color='blue', alpha=0.7)

# Add labels and title
plt.xlabel('Minimum Wage ($)')
plt.ylabel('Infant Mortality Rate')
plt.title('Scatter Plot of Minimum Wage vs Infant Mortality Rate')


for i, row in filtered_data.iterrows():
    plt.annotate(row['Country'], (row['Minimum wage'], row['Infant mortality']), fontsize=8)


plt.grid(True)

plt.tight_layout()
plt.show()

Looking into the filterd countries GDP per Capita

In [ ]:
plt.figure(figsize=(12, 8))
plt.bar(filtered_data['Country'], filtered_data['GDP per Capita'])

# Add labels and title
plt.xlabel('Country')
plt.ylabel('GDP per Capita')
plt.title('GDP per Capita of Filtered Countries with Minimum Wage $3.3-$3.5')

# Rotate x-axis labels for better visibility
plt.xticks(rotation=45, ha='right')

plt.tight_layout()  # Adjust spacing
plt.show()

GDP per Capita shows is a large vraity in the economic state of the countries that have minimmum wage between 3.5 to 4 dollars.

In [ ]:
fig = choropleth(filtered_data['Country'],'Country', "minimum wage between 3.2 to 3.5 by Country")
fig.show()

Looking into economic rating for these countries

In [ ]:
plt.figure(figsize=(10, 6))
sns.boxplot(x='Economy Rating', y='Minimum wage', data=filtered_data, order=[1, 2, 3, 4, 5])

# Add title and labels
plt.xlabel('Economy Rating')
plt.ylabel('Country')
plt.title('Economy Rating of Filtered Countries with Minimum Wage $3.5-$4')

plt.tight_layout()  # Adjust spacing
plt.show()

Upon further analysis, the countries that deviate from the trend between minimum wage and infant mortality around $3.2 per hour all belong to the third tier economy rating.

However, their GDP per capita varies widely from $0 to $8000, and they are geographically dispersed without any regional pattern.This shows that even within the poorest economic category, there are many differences in income levels and local contexts between these countries.
Simply belonging to the broad rating 3 bucket does not fully capture the reasons behind their anomalously high infant deaths relative to the minimum wage. There appear to be additional factors that influence infant mortality beyond just monetary wages or the overall economy rating.

Therefore, while the visualizations indicate minimum wage matters, solely increasing income may not sufficiently reduce preventable infant deaths in these outlier nations.

Infant mortality vs Education Gap

In [ ]:
Infant_mortality_rates = data['Infant mortality']
Education_gap= data['Education Gap']

# Create scatter plot
plt.figure(figsize=(10, 6))
plt.scatter(Infant_mortality_rates, Education_gap , alpha=0.7)
plt.title('Scatter Plot of Infant mortality rates vs Unemployment rate')
plt.xlabel('Infant mortality rates')
plt.ylabel('Education gap')
plt.grid(True)

plt.show()

The scatter plot shows a downward sloping relationship between education gap and infant mortality rate, indicating that countries with a lower difference between primary and tertiary enrollment tend to have lower infant deaths.

However, the decline in mortality is non-linear as the education gap reduces. Between a gap of 1.4 to 0.6, there is a slow, gradual improvement in infant mortality, with many countries still experiencing over 60 deaths per 1000 live births despite better enrollment balance.

The more substantial gains are seen when education gap drops under 0.6. There is a sharp decrease in mortality, with most countries clustered around 0-20 deaths, and very few outliers.

This implies a gap below 0.6 represents a pivotal threshold, where balancing enrollment across school levels correlates strongly with better infant health. The non-linear trend suggests that once past the 0.6 milestone, even marginal improvements in enrollment parity can yield exponential gains.

The visualization emphasizes the importance of a holistic education policy focusing on both primary and tertiary access to equitably develop human capital. Aid programs aimed at incentivizing balanced enrollment, rather than maximizing just tertiary education, can potentially contribute greatly to lowering preventable infant deaths.

Infant mortality VS Gross tertiary education enrollment (%)

In [ ]:
Infant_mortality_rates = data['Infant mortality']
teritary_education_enrollment= data['Gross tertiary education enrollment (%)']

# Create scatter plot
plt.figure(figsize=(10, 6))
plt.scatter(Infant_mortality_rates, teritary_education_enrollment , alpha=0.7)
plt.title('Scatter Plot of Infant mortality rates vs Gross teritary education enrollment (%)')
plt.xlabel('Infant mortality rates')
plt.ylabel('Teritary education enrollment')
plt.grid(True)

plt.show()

The scatter plot shows a clear negative correlation between gross tertiary enrollment rate and infant mortality rate. Countries with higher tertiary education enrollment tend to have lower infant deaths.

Specifically, the visualization reveals a key inflection point at around 20% gross tertiary enrollment. Countries that have exceeded this 20% enrollment milestone mostly demonstrate infant mortality rates under 40 deaths per 1000 live births.

In contrast, countries with tertiary enrollment below 20% have highly variable mortality rates extending beyond 60 deaths per 1000 births.

As tertiary enrollment increases past 20%, infant mortality declines steadily for most nations. There are few major outliers to this trend.

This signifies that achieving a critical mass of tertiary education participation is pivotal for reducing preventable infant deaths. Crossing the 20% enrollment threshold seems to be strongly associated with better socio-economic conditions that improve infant health and survival.

The negative slope beyond 20% implies that even marginal improvements in tertiary access could yield compounding gains. Policies to increase post-secondary attainment should be a priority for countries struggling with high infant mortality.

**Insight:**

Targeted investments in healthcare access, minimum wages, education enrollment could significantly lower mortality.

**Maternal mortality ratio**

In [ ]:
fig = choropleth(data,"Maternal mortality ratio", "Maternal mortality ratio by Country")
fig.show()

most of the high maternal mortality ratio is located in Africa.

Maternal mortality ratio vs Health rating

In [ ]:
plt.figure(figsize=(10, 6))
sns.boxplot(data=data, x='Health Rating', y='Maternal mortality ratio')
plt.xlabel('Health Rating')
plt.ylabel('Maternal mortality ratio')
plt.title('Maternal mortality ratio by Health Rating')
plt.show()

As expected, the box plot shows that countries with the worst health rating (rating 1) have the highest median maternal mortality ratios.

This aligns with the assumption that countries with inadequate healthcare systems and poor health conditions (rating 1) will also have elevated risks of women dying from complications of pregnancy or childbirth.

The visualization reveals there is substantial separation in the median maternal mortality ratio when moving from health rating 1 to 2. However, the difference narrows between other adjacent ratings.

Additionally, health rating 1 has a small sample size with high variance. But the overall trend is still visible - worse health ratings are associated with exponentially higher maternal mortality.

In summary, the maternal mortality disparities seen in the box plot confirm the expected linkage between deficiencies in overall population health systems and risks for expectant mothers. Improving fundamental healthcare availability could significantly curb maternal deaths.

Maternal mortality rate vs Physicians per thousand

In [ ]:
Maternal_mortality_rate = data['Maternal mortality ratio']
Physicians_per_thousand= data['Physicians per thousand']

# Create scatter plot
plt.figure(figsize=(10, 6))
plt.scatter( Maternal_mortality_rate, Physicians_per_thousand , alpha=0.7)
plt.title('Scatter Plot of Maternal mortality rate vs Physicians per thousand')
plt.xlabel('Maternal mortality rate')
plt.ylabel('Physicians per thousand')
plt.grid(True)

plt.show()

As hypothesized, the scatter plot shows a clear negative correlation between number of physicians per thousand population and maternal mortality ratio. Countries with more physicians per capita tend to have substantially lower maternal deaths.

Specifically, the visualization reveals that having just 1 physician for every 1000 people represents a major threshold. Nations below this 1 physician per 1000 population mark exhibit highly variable maternal mortality, spanning up to over 500 deaths per 100,000 live births.

However, countries that have exceeded the 1 physician per 1000 milestone almost universally demonstrate maternal mortality ratios below 200 deaths per 100,000 births. There is only one outlier close to 200.

Further, increasing physician density above 1 per 1000 is associated with a sharp decline in mortality approaching near zero, especially as it reaches 3 physicians per 1000 people.

This signifies the critical impact even marginal improvements in healthcare professional availability can achieve. Crossing the 1 physician threshold seems to be a pivotal precursor enabling the drastic reductions in maternal mortality seen at higher access levels.

In summary, the scatter plot's negative slope and inflection point strongly emphasize healthcare workforce capacity as a key driver of preventable maternal deaths. Policy initiatives to add even 1 more physician per 1000 could save thousands of mothers' lives.

Econommic rating vs maternal mortality ratio

In [ ]:
plt.figure(figsize=(10, 6))
sns.boxplot(data=data, x='Economy Rating', y='Maternal mortality ratio')
plt.xlabel('Economic Rating')
plt.ylabel('Maternal mortality ratio')
plt.title('Maternal mortality ratio by Economic rating')
plt.show()

The maternal mortality box plot visualizes the relationship between the economy ratings and maternal mortality ratio for various countries. The plot provides insights into how the maternal mortality ratio varies across different economy ratings.

For countries with an economy rating of 1, the maternal mortality ratio ranges from around 0 to nearly 600. This indicates that countries with the lowest economy rating have a wide variability in maternal mortality, with some countries experiencing relatively low maternal mortality rates, while others have higher rates.

In the case of countries with an economy rating of 2, the maternal mortality ratio spans from approximately 0 to 800. However, the majority of countries within this economy rating range exhibit maternal mortality ratios between 100 and 400. This suggests that while some countries within this rating experience relatively lower maternal mortality rates, there are also countries with significantly higher rates, leading to an elevated median value.

Overall, the maternal mortality box plot sheds light on the varying levels of maternal mortality in relation to different economy ratings. It highlights the disparities between countries with lower economy ratings, where maternal mortality can be quite diverse, and those with a rating of 1, where the median maternal mortality ratio is comparatively higher, influenced by countries experiencing both low and high maternal mortality rates.

Maternal mortality ratio vs Minimum Wage

In [ ]:
Maternal_mortality_rate = data['Maternal mortality ratio']
minimum_Wage= data['Minimum wage']

# Create scatter plot
plt.figure(figsize=(10, 6))
plt.scatter( Maternal_mortality_rate, minimum_Wage, alpha=0.7)
plt.title('Scatter Plot of Maternal mortality rate vs Minimum wage')
plt.xlabel('Maternal mortality rate')
plt.ylabel('Minimum wage')
plt.grid(True)

plt.show()

The scatter plot shows a downward relationship between minimum wage and maternal mortality, with the sharpest decline when minimum wage rises above $2 per hour. This signifies 2  dollsr per hour as a pivotal threshold enabling socio-economic upliftment to lower pregnancy risks.

However, there is an outlier cluster around 4 dollar per hour minimum wage where high maternal mortality persists. Further analysis found these countries all belong to the poorest economic tier but have varying GDP per capita and geographic contexts.

This highlights that while minimum wage correlates to maternal health on average, the broad economy rating metric obscures important localized differences between these outlier nations. There appear to be additional cultural, infrastructure and healthcare access factors influencing high maternal deaths above just income levels.

Therefore, while the overall trend shows the potential of minimum wage to reduce mortality, solely increasing pay without addressing underlying drivers may be insufficient in these specific high-risk countries. Nuanced, contextual investigation is required to unpack why higher wages have not translated to better maternal outcomes in the outliers.

matermal mortality ratio VS Education Gap

In [ ]:
Maternal_mortality_rate = data['Maternal mortality ratio']
Education_Gap= data['Education Gap']

# Create scatter plot
plt.figure(figsize=(10, 6))
plt.scatter( Maternal_mortality_rate, Education_Gap, alpha=0.7)
plt.title('Scatter Plot of Maternal mortality rate vs Education gap')
plt.xlabel('Maternal mortality rate')
plt.ylabel('Education_Gap')
plt.grid(True)

plt.show()

Similar to infant mortality, the scatter plot shows a downward sloping relationship between education gap and maternal mortality ratio. Countries with a smaller difference between primary and tertiary enrollment tend to have lower maternal deaths.

The decline in maternal mortality is gradual as the education gap reduces from 1.4 to 0.6. Many countries remain above 200 deaths per 100,000 births despite improving enrollment parity.

The sharper gains are seen when the education gap drops below 0.6. There is a steep decrease in maternal mortality, with most countries clustered under 200 deaths and minimal outliers above this level.

This indicates that reaching an education gap below 0.6 represents a key threshold. Attaining enrollment balance across school levels seems strongly associated with better socio-economic conditions that lower pregnancy-related risks.

The nonlinear trend suggests marginal improvements under 0.6 gap can yield exponential impact. Policies aimed at incentivizing equitable access to primary and tertiary education could potentially contribute greatly to saving mothers' lives.

Maternal mortality ratio VS Gross tertiary education enrollment (%)

In [ ]:
Maternal_mortality_rate = data['Maternal mortality ratio']
tertiary_education_enrollment= data['Gross tertiary education enrollment (%)']

# Create scatter plot
plt.figure(figsize=(10, 6))
plt.scatter( Maternal_mortality_rate, tertiary_education_enrollment, alpha=0.7)
plt.title('Scatter Plot of Maternal mortality rate vs Tertiary education enrollment')
plt.xlabel('Maternal_mortality_rate')
plt.ylabel('tertiary_education_enrollment')
plt.grid(True)

plt.show()

The scatter plot shows a clear negative relationship between gross tertiary enrollment rate and maternal mortality ratio. Countries with higher tertiary education participation tend to have substantially lower maternal deaths.

Specifically, the visualization reveals that surpassing 20% tertiary enrollment represents a major milestone. Nations that have crossed this 20% threshold of post-secondary attainment almost universally demonstrate maternal mortality ratios under 200 deaths per 100,000 births.

In contrast, countries below 20% tertiary enrollment exhibit highly variable maternal mortality spanning up to 500 deaths per 100,000 live births.

This signifies that achieving a critical mass of 20% tertiary enrollment is a pivotal precursor to reducing preventable maternal fatalities. The level of socio-economic development reflected in post-secondary access appears strongly linked to better health infrastructure and conditions for expectant mothers.

Furthermore, the downward slope beyond 20% tertiary enrollment implies that even incremental improvements can have an exponential impact in lowering risks during pregnancy and childbirth.

In summary, the scatter plot provides compelling visual evidence for the importance of policies to expand tertiary education availability as a route to preventing avoidable maternal deaths and uplifting public health.

**Insight:**

Targeted investments in physicians, minimum pay, education access and parity could significantly improve maternal outcomes.

**Looking into Life expectancy**

In [ ]:
fig = reverse_choropleth(data,"Life expectancy", "Life expectancy by Country")
fig.show()

The countries with the worst life expectancy are centerd in Afica

Life expectancy vs Health Rating

In [ ]:
plt.figure(figsize=(10, 6))
sns.boxplot(data=data, x='Health Rating', y='Life expectancy')
plt.xlabel('Health Rating')
plt.ylabel('Life expectancy')
plt.title('Life expectancy by Health Rating')
plt.show()

As expected, the box plot shows that countries with the worst overall health rating (rating 1) have the lowest median life expectancy.

This aligns with the assumption that countries with inadequate healthcare systems and poor health conditions would also have lower longevity among their citizens.

The visualization reveals a substantial separation in median life expectancy between health rating 1 compared to other adjacent ratings.

Additionally, health rating 1 has high variance. But the downward trend is still evident - worse health ratings correlate with exponentially lower life expectancy in the population.the considerable difference between tiers 1 and 2 highlights the impact of basic healthcare access and infrastructure in premature mortality.

In summary, the life expectancy disparities in the box plot confirm the expected relationship between population health deficiencies and shorter lifespans. Improving fundamental healthcare availability could significantly increase survival rates.

Life expectancy vs Physicians per thousand

In [ ]:
Life_expectancy = data['Life expectancy']
Physicians_per_thousand= data['Physicians per thousand']

# Create scatter plot
plt.figure(figsize=(10, 6))
plt.scatter( Life_expectancy, Physicians_per_thousand, alpha=0.7)
plt.title('Scatter Plot of Life expectancy vs Physicians per thousand')
plt.xlabel('Life_expectancy')
plt.ylabel('Physicians_per_thousand')
plt.grid(True)

plt.show()

The scatter plot reveals interesting patterns in life expectancy linked to physicians per thousand population.

Countries with extremely low physician density around 0 per 1000 people have highly variable life expectancies ranging from 45 to 75 years. This signifies the unpredictability of longevity in contexts of severely inadequate healthcare.

As physician availability approaches 1 per 1000, the minimum life expectancy shifts higher to around 65 years. Crossing the 1 physician threshold seems associated with greater consistency in survival rates.

Further, increasing physician rate beyond 1 per 1000 is correlated with steadily rising life expectancy. Nations with over 2 physicians per 1000 population almost all achieve longevity between 70 to 85 years, with minimal outliers.

This suggests that while the 1 physician level enables stability, greater healthcare workforce capacity provides additional gains in citizens' survival rates. Even incremental additions beyond 1 physician appear linked to compounding longevity improvements.

Overall, the visualization indicates physicians per thousand as a crucial driver of population health. It highlights the dramatic shifts achievable through targeted policies to build healthcare human capital, especially in underserved regions currently near 0 access.

Life expctancy vs Economy rating

In [ ]:
plt.figure(figsize=(10, 6))
sns.boxplot(data=data, x='Economy Rating', y='Life expectancy')
plt.xlabel('Economy Rating')
plt.ylabel('Life expectancy')
plt.title('Life expectancy by Economy Rating')
plt.show()

Suprisingly,Economy rating 2 has the lowest median life expectancy. However, it has a wide spread from 55 to almost 80 years.
Rating 1's median is slightly higher than 2, and ranges from above 60 to above 75 years.
Ratings 3 and 4 have lower minimum values than rating 1. But their maximum end extends higher into the 80s.
The medians for ratings 3 and 4 are also progressively higher than tiers 1 and 2.
This shows that while the medians indicate a upward trend, the spreads within each rating overlap substantially. Many of the same longevity outcomes are seen across multiple economy tiers.

The wide, overlapping ranges imply factors beyond macroeconomic rating influence life expectancy .

In summary, analyzing the distribution rather than just median shows that simple economy rating brackets inadequately capture variations in longevity. The complex, multivariate nature of life expectancy is evident in the broad spreads across income groups. A nuanced approach looking at specific national and regional contexts will be essential.

Minimum wage Vs life expectancy

In [ ]:
Life_expectancy = data['Life expectancy']
Minimum_wage= data['Minimum wage']

# Create scatter plot
plt.figure(figsize=(10, 6))
plt.scatter(Life_expectancy, Minimum_wage , alpha=0.7)
plt.title('Scatter Plot of Life expectancy vs  Minimum wage')
plt.xlabel('Life Expectancy')
plt.ylabel('Minimum wage')
plt.grid(True)

plt.show()

Below the 2 dollars minimum wage threshold, the range of life expectancy spans from 45 to 80 years. Beyond this threshold, a general positive correlation emerges between minimum wage and life expectancy. Notably, an exception is observed at the 3.2 dollars minimum wage mark, where a divergence occurs. Several countries continue the upward trajectory, indicating a positive relationship between minimum wage and life expectancy. However, a cluster of countries experiences a substantially low life expectancy, with the lowest hovering around 60 years.

A prior examination of these countries with minimum wage policies reveals that despite all falling within the economic rating 1 bin, their GDP per capita and geographical characteristics vary significantly. This underscores that while minimum wage does correlate positively with life expectancy, its impact is intricate and does not guarantee an unequivocal improvement in life expectancy.

Education Gap VS life expectancy

In [ ]:
Life_expectancy = data['Life expectancy']
Education_Gap = data['Education Gap']

# Create scatter plot
plt.figure(figsize=(10, 6))
plt.scatter(Life_expectancy, Education_Gap , alpha=0.7)
plt.title('Scatter Plot of Life expectancy vs  Education Gap')
plt.xlabel('Life Expectancy')
plt.ylabel('Education Gap')
plt.grid(True)

plt.show()

Education Gap exhibits a negative correlation with Life expectancy: as the Education Gap decreases, Life expectancy tends to increase. However, this relationship is less pronounced compared to its associations with infant mortality rate or maternal mortality rate. When the Education Gap exceeds 0.6, the data points for Life expectancy span from 45 to nearly 85 years. Conversely, with an Education Gap below 0.6, the range narrows but remains substantial, ranging from approximately 70 to nearly 85 years of age.

Gross tertiary education enrollment (%) VS expectancy

In [ ]:
Life_expectancy = data['Life expectancy']
tertiary_education_enrollment= data['Gross tertiary education enrollment (%)']

# Create scatter plot
plt.figure(figsize=(10, 6))
plt.scatter(Life_expectancy, tertiary_education_enrollment  , alpha=0.7)
plt.title('Scatter Plot of Life expectancy vs Gross tertiary education enrollment (%) ')
plt.xlabel('Life Expectancy')
plt.ylabel('Gross tertiary education enrollment (%) ')
plt.grid(True)

plt.show()

Gross tertiary education enrollment (%) exerts a positive influence on life expectancy, particularly when the threshold of 0.2 is surpassed. Prior to reaching this threshold, life expectancy ranges from 45 to nearly 85 years. However, once tertiary enrollment surpasses 0.2, the life expectancy range narrows, spanning from almost 70 to 85 years.

**Insight:**

Life expectancy, Matnal mortality ratio, and infant mortality rate the three health aspect we wanted to tackle are impacted by the same aspects: Physicans per thousand, Minimum wage, Education gap and Gross tertiary education enrollment (%). These are good news for investors because choosing to fanincial aid one of these aspects will impact all of the burnung health issues.

**Looking into Education**

**Education gap**

In [ ]:
fig = choropleth(data,"Education Gap", "Education Gap by Country")
fig.show()

High Education Gap is prevlant in Africa, India, Afgahnistan,Estrean Asia and large parts of South America.

Education Gap by economy rating

In [ ]:
plt.figure(figsize=(10, 6))
sns.boxplot(data=data, x='Economy Rating', y='Education Gap')
plt.xlabel('Economy Rating')
plt.ylabel('Education Gap')
plt.title('Education Gap by Economy Rating')
plt.show()

Among the box plots, the one with the highest median for Education Gap corresponds to economic rating 2. Additionally, economic rating 2 exhibits the highest lower whisker point (excluding outliers), along with a relatively taller median range compared to other economic rating box plots. Intriguingly, economic rating 4 showcases the highest upper whisker range for Education Gap, yet it also features the lowest minimum value within its range.

Stacked Bar Plot of Education Gap decounstracted

In [ ]:
lowest_primary = data.nsmallest(5, 'Gross primary education enrollment (%)')
lowest_tertiary = data.nsmallest(5, 'Gross tertiary education enrollment (%)')

lowest_education = pd.concat([lowest_primary, lowest_tertiary])

ax = lowest_education[['Gross primary education enrollment (%)', 'Gross tertiary education enrollment (%)']].plot(kind='barh', stacked=True, figsize=(10, 6))

ax.set_yticklabels(lowest_education['Country'])

for index, row in lowest_education.iterrows():
    primary_percent = row['Gross primary education enrollment (%)']
    tertiary_percent = row['Gross tertiary education enrollment (%)']
    ax.annotate(f'Primary: {primary_percent:.2f}%', (primary_percent / 2, index), ha='center', va='center', color='white')
    ax.annotate(f'Tertiary: {tertiary_percent:.2f}%', (primary_percent + tertiary_percent / 2, index), ha='center', va='center', color='black')

ax.set_xlabel('Enrollment (%)')
ax.set_ylabel('Country')
ax.set_title('Education Gap decounstracted ')

plt.gca().invert_yaxis()

plt.show()

The education gap metric measures the difference between primary and tertiary enrollment rates. As the analysis showed, it does not exhibit strong correlation with other developmental indicators.

By definition, education gap assumes reasonably high primary access, only assessing disparity versus tertiary levels. However, broader enrollment deficits including lagging primary attainment are more prevalent in poorer nations.

The gap also overlooks quality differences in education. A high gap may just signify expanded tertiary capacity in a country with mediocre primary schooling.

Instead, gross tertiary enrollment on its own better captures overall post-secondary participation levels. Low tertiary enrollment incorporates contexts of both limited tertiary and primary access since the latter restricts the pool eligible for higher education.

Additionally, tertiary enrollment showed higher correlation with factors like life expectancy, maternal mortality etc. - relationships the gap metric did not reveal.

In summary, while education gap provides a perspective on imbalances, gross tertiary enrollment appears more insightful for assessing developmental outcomes. Focusing exploratory analysis on the latter can better inform policies aimed at raising post-secondary attainment, especially in lower income regions.

Gross tertiary education enrollment (%) by Country

In [ ]:
fig = reverse_choropleth(data,"Gross tertiary education enrollment (%)", "Gross tertiary education enrollment (%) by Country")
fig.show()

Economic rating ant tertiary education

In [ ]:
plt.figure(figsize=(10, 6))
sns.boxplot(data=data, x='Economy Rating', y='Gross tertiary education enrollment (%)')
plt.xlabel('Economy Rating')
plt.ylabel('Gross tertiary education enrollment (%)')
plt.title('Gross tertiary education enrollment (%) by Economy Rating')
plt.show()

The box plot reveals a surprising trend - countries with economy rating 2 have the lowest median tertiary enrollment rate, not those with the poorest rating of 1.

Rating 2 also has a very narrow range, between 0-0.4, with most countries clustered tightly between 0.1-0.2 tertiary enrollment.

In contrast, rating 1 countries have a slightly higher median enrollment. More notably, rating 1 has a wider spread of values from 0 to 0.4, with most between 0-0.3.

This signifies rating 1 countries are more heterogeneous, with some performing comparable to wealthier tiers in higher education access, despite overall poorer economic conditions.

The tight, low range for rating 2 implies specific constraints exist in these marginally better-off economies that restrict tertiary participation. Merely having a slightly higher income level has not expanded higher education capacity.

In summary, the unintuitive trends and distributions highlight the disconnect between broad economic ranking and education outcomes. The misleadingly low ranking 2 median questions narratives based on GDP alone. More qualitative, contextual analysis is essential to uncover tertiary education barriers.

tertiary education Vs physicians per thousand

In [ ]:
tertiary_education_enrollment = data['Gross tertiary education enrollment (%)']
Physicians= data['Physicians per thousand']

# Create scatter plot
plt.figure(figsize=(10, 6))
plt.scatter(tertiary_education_enrollment,Physicians , alpha=0.7)
plt.title('Scatter Plot of Gross tertiary education enrollment (%) vs Physicians per thousand')
plt.xlabel('Gross tertiary education enrollment (%)')
plt.ylabel('Physicians per thousand')
plt.grid(True)

plt.show()

The scatterplot shows a positive correlation between physicians per thousand population and gross tertiary education enrollment rate. Countries with higher physician density tend to have higher tertiary enrollment.

Several interesting patterns are evident:

Below 1 physician per thousand, tertiary enrollment is uniformly low, between 0-40% with most countries clustered under 20%. This indicates severely inadequate healthcare access restricts higher education participation.
Crossing the 1 physician threshold is a tipping point, opening up tertiary enrollment possibilities from 0% to 100%+.

In summary, the visualization reveals that physician availability and tertiary enrollment have a mutually reinforcing relationship. Expanding healthcare workforce capacity is associated with greater resources and foundations to support advanced schooling. In turn, rising education levels lead to greater health awareness and ability to support healthcare systems. Policymakers must focus on this interdependent growth to uplift society.

**Insight:**
The analysis revealed tertiary education enrollment does not exhibit high correlation with many directly actionable socio-economic factors.

However, it does demonstrate noteworthy linkages to pivotal developmental outcomes like infant mortality, maternal mortality and life expectancy, beyond correlating with just GDP per capita.

This highlights tertiary enrollment as a unique two-pronged lever - it is both a means to improving society as well as an end goal itself for growth.

Besides boosting physician availability, increasing post-secondary participation should therefore be an urgent priority for donor aid and policy interventions.

Investing to expand tertiary attainment has the dual benefits of:

Enabling progress across education, health, economic growth and other areas due to skilled workforce creation.
Directly improving a key human capital indicator for national competitiveness and closing income disparities.
In summary, while many measures represent downstream outcomes, tertiary education stands out as a factor that is intricately both cause and consequence of development. It has an outsized multiplier potential for catalyzing broad upliftment across interlinked socio-economic dimensions in struggling countries.

**What countries need what**

In [ ]:
pip install mpld3

Infant mortality

In [ ]:
from pandas.plotting import parallel_coordinates


worst_countries = data.sort_values('Infant mortality', ascending=False).head(5)

columns_to_plot = [ 'Physicians per thousand', 'Minimum wage', 'Gross tertiary education enrollment (%)']


worst_countries_normalized = worst_countries[columns_to_plot].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

worst_countries_normalized['Infant mortality'] = worst_countries['Infant mortality']

plt.figure(figsize=(10, 6))
lines = parallel_coordinates(worst_countries_normalized, 'Infant mortality', colormap='viridis')

country_names = worst_countries['Country'].tolist()

handles, labels = plt.gca().get_legend_handles_labels()
labels = [f'{country_names[i]}: {labels[i]}' for i in range(len(labels))]

plt.legend(handles, labels, title='Country', loc='upper right')

plt.title('Parallel Coordinates Plot for Worst Countries in Infant Mortality')
plt.xlabel('Features')
plt.ylabel('Normalized Values')
plt.xticks(rotation=45)

plt.show()

Central African Republic has the worst infant mortality, with extremely low physicians per thousand around 0.1, low minimum wage below 0.5, and minimal tertiary enrollment of 0.1. This is indicative of severely deprived conditions.

Sierra Leone has the lowest physician availability at 0, mid-range minimum wage around 0.8-1.0, but no tertiary enrollment. Lack of healthcare access and higher education are notable.

Nigeria is a partial outlier with the highest physicians out of the 5 nations. However, its tertiary enrollment and minimum wage are only middling. High mortality persists despite better healthcare.

Chad has near zero physicians like Sierra Leone, but has both the highest minimum wage and tertiary enrollment rates among the five countries. Infant health has not improved.

DRC has slightly better physician availability at 0.2. But it has the lowest minimum wage and middling tertiary enrollment. Still, it has the second highest infant deaths.

the parallel coordinates plot reveals multifaceted, intersecting socio-economic deficits driving high infant mortality in each nation.

Looking into maternal mortality ratio

In [ ]:

worst_countries = data.sort_values('Maternal mortality ratio', ascending=False).head(5)

columns_to_plot = [ 'Physicians per thousand', 'Minimum wage', 'Gross tertiary education enrollment (%)']


worst_countries_normalized = worst_countries[columns_to_plot].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

worst_countries_normalized['Maternal mortality ratio'] = worst_countries['Maternal mortality ratio']

plt.figure(figsize=(10, 6))
lines = parallel_coordinates(worst_countries_normalized, 'Maternal mortality ratio', colormap='viridis')

country_names = worst_countries['Country'].tolist()

handles, labels = plt.gca().get_legend_handles_labels()
labels = [f'{country_names[i]}: {labels[i]}' for i in range(len(labels))]

plt.legend(handles, labels, title='Country', loc='upper right')

plt.title('Parallel Coordinates Plot for Worst Countries in Maternal mortality ratio')
plt.xlabel('Features')
plt.ylabel('Normalized Values')
plt.xticks(rotation=45)

plt.show()

Chad has the worst maternal mortality. It has near zero physicians, the highest minimum wage among these nations, but only 0.2 tertiary enrollment. This highlights major healthcare access issues.

Sierra Leone has the lowest physician rate at 0. It has a middling minimum wage around 0.8, and no tertiary enrollment. The lack of doctors and higher education are glaring gaps.

Nigeria is a partial outlier with the most physicians, though still low in absolute terms. However, its minimum wage and tertiary enrollment are moderate. Maternal health remains poor despite better healthcare availability.
Central African Republic has negligible physicians. It has the lowest minimum wage of 0 and low tertiary enrollment below 0.2. This indicates systemic deprivations driving maternal risks.

Mauritania has slightly higher physician rate at 0.4. But a middling minimum wage around 0.6 and tertiary enrollment below 0.4. Overall maternal health conditions seem underdeveloped.

Generalizations cannot be made - tailored investigation and interventions are essential focusing on local contexts. Healthcare access, education and income alone do not fully explain differences.

Looking into Life expectancy

In [ ]:

worst_countries = data.sort_values('Life expectancy', ascending=True).head(6)

columns_to_plot = [ 'Physicians per thousand', 'Minimum wage', 'Gross tertiary education enrollment (%)']


worst_countries_normalized = worst_countries[columns_to_plot].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

worst_countries_normalized['Life expectancy'] = worst_countries['Life expectancy']

plt.figure(figsize=(10, 6))
lines = parallel_coordinates(worst_countries_normalized, 'Life expectancy', colormap='viridis')

country_names = worst_countries['Country'].tolist()

handles, labels = plt.gca().get_legend_handles_labels()
labels = [f'{country_names[i]}: {labels[i]}' for i in range(len(labels))]

plt.legend(handles, labels, title='Country', loc='upper right')

plt.title('Parallel Coordinates Plot for Worst Countries in Life expectancy')
plt.xlabel('Features')
plt.ylabel('Normalized Values')
plt.xticks(rotation=45)

plt.show()

Central African Republic has the lowest life expectancy, physicians per thousand between 0.0 to 0.2, the lowest minimum wage at 0.0, and tertiary education enrollment close to 0.2.

Lesotho has physicians per thousand close to 0.2, a minimum wage of 0.2, and tertiary education enrollment of 1.0.

Chad has physician per thousand just above 0.0, the highest minimum wage at 1.0, and tertiary enrollment just under 0.2.

Nigeria has a physicians per thousand score of 1.0, a minimum wage score under 0.8, and tertiary education enrollment of 1.0.

Sierra Leone has a physicians per thousand score under 0.6, a minimum wage score of 0.0, and tertiary enrollment ranging between 0.8 to 1.0.

Looking into Gross tertiary education enrollment (%)

In [ ]:

worst_countries = data.sort_values('Gross tertiary education enrollment (%)', ascending=True).head(6)

columns_to_plot = [ 'Physicians per thousand', 'Minimum wage', 'Education Gap']


worst_countries_normalized = worst_countries[columns_to_plot].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

worst_countries_normalized['Gross tertiary education enrollment (%)'] = worst_countries['Gross tertiary education enrollment (%)']

plt.figure(figsize=(10, 6))
lines = parallel_coordinates(worst_countries_normalized, 'Gross tertiary education enrollment (%)', colormap='viridis')

country_names = worst_countries['Country'].tolist()

handles, labels = plt.gca().get_legend_handles_labels()
labels = [f'{country_names[i]}: {labels[i]}' for i in range(len(labels))]

plt.legend(handles, labels, title='Country', loc='upper right')

plt.title('Parallel Coordinates Plot for Worst Countries in Gross tertiary education enrollment (%)')
plt.xlabel('Features')
plt.ylabel('Normalized Values')
plt.xticks(rotation=45)

plt.show()

Considering its weak correlation with many actionable variables, we examined it alongside minimum wage, which is one of our pertinent economic features, and education gap, known for its thematic relevance to tertiary enrollment.

Malawi exhibits the lowest tertiary enrollment, just above 0.0, physicians per thousand, 0.0 minimum wage, and a 1.0 education gap.

Haiti has physicians per thousand below 0.6, minimum wage under 0.2, and an education gap above 0.6.

Papua New Guinea displays physicians per thousand ranging between 0.0 to 0.2, a 1.0 minimum wage, and an education gap under 0.6.

Equatorial Guinea presents 1.0 physicians per thousand, a minimum wage between 0.8 to 1.0, and a 0.0 education gap.

Sierra Leone showcases 0.0 physicians per thousand, a minimum wage above 0.4, and an education gap surpassing 0.6.

Guinea-Bissau stands out with physicians per thousand above 0.2, minimum wage greater than 0.0, and an education gap exceeding 0.6.

In [ ]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt

countries = ["Central African Republic", "Sierra Leone", "Nigeria", "Chad", "DRC", "Mauritania", "Lesotho", "Malawi", "Haiti", "Papua New Guinea", "Equatorial Guinea", "Guinea-Bissau"]

frequencies = [3, 4, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1]

# Create dictionary with country:frequency
country_dict = {country:freq for country, freq in zip(countries, frequencies)}

wordcloud = WordCloud(width=800, height=400, background_color='white')
wordcloud.generate_from_frequencies(frequencies=country_dict)

plt.figure(figsize=(10,8))
plt.imshow(wordcloud)
plt.axis('off')
plt.show()

The world cloud above shows the countries with the most need of fanincial aid in our chosen key featuers.

**Insight:**
Through our analysis, we identified 12 developing countries most in need across the 4 key aspects of infant mortality, maternal mortality, life expectancy and tertiary education.

Sierra Leone emerged as the nation requiring urgent aid across all 4 areas. The parallel coordinates plots provided granular insights into Sierra Leone's deficiencies in physicians, wages, and education enrollment that are driving poor outcomes.

More broadly, the visualizations revealed the unique intersections of healthcare access, income, and tertiary participation challenges facing each country.

These multidimensional perspectives can inform donors on tailored opportunities and interventions to maximize impact, based on what is most lacking in a given nation. For instance, investing in physicians and medical infrastructure could be highly effective in Chad, while Sierra Leone needs integrated interventions spanning health, income and education.

Overall, the findings and evidence-based approach equip donors to strategically direct aid where it is needed most. Thecountry-specific analyses guide intelligent allocation decisions aligned to addressing the biggest development gaps highlighted through our visual investigative process.

Targeted, context-aware investments are key to uplifting the living standards and welfare in these disadvantaged regions of the world. The data-driven insights enable donors to match aid optimizations to need for greatest on-ground change.

#Summary and Conclusions:
Our visual analysis of the "Global Country Information Dataset 2023" reveals key insights that can guide decisions regarding financial aid allocation to countries in need. The dataset's features span a wide range of socio-economic and health indicators, allowing to uncover relationships that highlight the challenges faced by developing nations. Our goal was to identify the countries that require financial aid and pinpoint the root causes of their challenges.

Our chosen focus features: Infant Mortality, Maternal Mortality, Life Expectancy, and Tertiary Enrollment

These features capture critical aspects of human well-being and development, making them excellent indicators of countries in need and an impact driven investment in respect of resource allocation by relevant non profit organizations.

Our bivariate visualizations showed that these challenges are intertwined and often rooted in common factors. Higher infant mortality rates are associated with inadequate healthcare access (measured by Physicians per Thousand) and lower economic conditions (measured by GDP per Capita and Minimum Wage). Similarly, maternal mortality ratios are negatively correlated with healthcare availability and economic indicators.
Life expectancy is also significantly influenced by these same factors. Countries with limited access to healthcare and lower economic indicators tend to have lower life expectancy rates. This indicates that investing in healthcare infrastructure and improving economic conditions can have far-reaching positive effects on life expectancy.

Tertiary education enrollment also emerges as a crucial factor. It is impacted by the country's economic rating, GDP per capita, and minimum wage. This underscores the importance of education in overall development and the potential for economic growth when education is prioritized.

Additional distinguishing features identified were low levels of CO2 emissions,
high levels of Fertility rate & Birth rate,  low GDP per capita and low minimum wage.

Nevertheless, when we have taken all possibilities into account with a practical goal in mind, we chose the above target features due the following reasons:
* Focus on moraly superior features- human lives / education.
* No controversial/ ethicaly problematic issues- we would not act to directly encourage higher pollution (co2 emissions) or to decrease fertility rates.
* Choosing highly influencial/ actionable features- we realized pretty quickly that improving the health sector would be highly impactful on many features simultaniously. Additionally, education is also an "easy" choise in the sense that it is very clear how to positivly influence it to deliver good results that can positivly impact alot of other factors.

#Operational Recommendations:

The visualizations we performed throughout the prject consistently highlighted several developing countries whose indicators, as reflected in our dataset, underscore a genuine need for financial aid and strategic initiatives aimed at fostering economic advancements that can uplift these nations. Based on our comprehensive visualizations, we propose the following actionable directions for practical implementation:
1. **Enhancing Medical Accessibility and Training:**
Our visualizations emphasize that improving medical care accessibility can significantly impact our focus featues, including infant mortality, maternal mortality, and life expectancy. We recommend allocating resources towards medical training programs within developing countries and supporting initiatives that facilitate the exchange of medical expertise from more developed nations to those in need. This approach, akin to the humanitarian efforts of organizations like "Doctors Without Borders", can bolster healthcare systems in these regions.
2. **Stimulating Economic Growth through Minimum Wage Increase:**
Our findings reveal a direct correlation between increased GDP per capita and improvements across all of our four focus features. Notably, the minimum wage also exhibits a strong positive correlation with GDP per capita. With this in mind, we suggest advocating for a series of economic actions aimed at elevating the minimum wage. Such efforts can be pursued through collaboration with governmental authorities, economic development agencies, as well as chambers of commerce and business associations. Although there might be opposition from cetain entities, the potential benefits, including a potential increase in workforce quality and quantity, justify further examination.
3. **Fostering Tertiary Education Enrollment through Scholarships and Grants:**
 Tertiary education enrollment rate, plays a pivotal role in enhancing various  aspects of developing countries. As we observed, an increased tertiary enrollment rate positively influences health indicators, including life expectancy and pysicians per thousand. In light of this, we recommend directing investments towards scholarships and educational grants to strengthen tertiary education enrollment. We firmly believe that such an approach has the potential to yield overarching positive effect on a country's developmental trajectory.

To summarize, we strongly believe that by prioritizing medical accessibility, facilitating economic growth through minimum wage adjustments, and fostering tertiary education enrollment, tangible progress can be achieved. We suggest these recommendations as guiding principles, empowering decision-makers to make impactful contributions that can reshape the developmental trajectory of nations in need.

#The Narrative Hidden in the Dataset:

"Global Country Information Dataset 2023" dataset paints a clear narrative of the challenges faced by developing countries. It illustrates how interconnected factors influence the quality of life for citizens in these nations.

Within the dataset, correlations bring to light essential insights regarding the challenges encountered by developing nations. Noteworthy relationships, featuring absolute correlations of over 70%, provide clarity on the intricate interplay among various factors.

Positive correlations highlight intricate ties. GDP and CO2 emissions intertwine economic growth with environmental impact. Maternal health and fertility rates reveal elevated risks in regions with high fertility. Healthcare access and education access intersect, showcasing common hurdles.

Negative correlations underscore contrasts. Life expectancy and fertility rates reflect the struggle to balance healthcare and demographics. Limited healthcare access links to both higher infant mortality and birth rates, showcasing resource-population dynamics.

This web of correlations presents a universal narrative of challenges that transcend borders. It paints a vivid picture of developing nations' hurdles, and illuminates the obstacles that require comprehensive solutions.<br> Targeted interventions can leverage these insights to strategically allocate resources. Our mission to optimize resource distribution for maximum impact  acts as a compass, guiding efforts towards domains where healthcare, education, and economic development intersect.<br>From a data-driven standpoint, our objective assumes the role of a guiding principle, facilitating interventions that systematically tackle the intricate challenges within the landscape of developing nations.

In [ ]:
drive.mount('/content/gdrive/', force_remount=True)
data.to_excel("/content/gdrive/MyDrive/colab share folder/countries_final.xlsx")